.transition {
  transition: all 0.3s ease-in;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.centralizar {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.centralizar.espacado {
  padding: 20px 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .centralizar {
    max-width: 440px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .centralizar {
    max-width: 750px;
  }
}
@media (min-width: 1100px) {
  .centralizar {
    max-width: 1100px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body + object {
  display: none;
}
header nav ul {
  width: 100%;
  font-size: 0;
  display: block;
  list-style: none;
  text-align: center;
  margin: 20px 0 40px 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
header nav ul li a {
  color: #808080;
  height: 22px;
  line-height: 22px;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  display: block;
}
header nav ul li a:active,
header nav ul li a:visited {
  color: #808080;
}
header nav ul li a:hover,
header nav ul li a.ativo {
  color: #0078B0;
}
header nav ul li a:after {
  content: "|";
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #808080;
  margin-left: 15px;
}
header nav ul li:last-child a:after {
  display: none;
}
header #link-home {
  text-align: center;
}
header #link-home a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
header #link-home a img {
  margin: 0 auto;
  display: block;
  max-width: 98%;
}
#chamadas {
  padding: 40px 0;
  font-size: 0;
  text-align: center;
}
#chamadas a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  box-sizing: border-box;
  padding: 30px 0 37px 0;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
@media (min-width: 0px) and (max-width: 750px) {
  #chamadas a {
    width: 85%;
    margin-bottom: 30px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  #chamadas a {
    width: 45%;
    margin-bottom: 30px;
  }
  #chamadas a:first-child {
    margin-right: 30px;
  }
  #chamadas a:last-child {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1100px) {
  #chamadas a {
    width: 33%;
  }
}
#chamadas a:active,
#chamadas a:visited {
  color: #fff;
}
#chamadas a.link-faculdade {
  background: #154877;
}
#chamadas a.link-escola {
  background: #0078B0;
}
#chamadas a.link-ead {
  background: #0098DA;
}
#chamadas a h1 {
  margin: 0;
  font-size: 24px;
}
#chamadas a h2 {
  margin: 4px 0 0 0;
  font-size: 14px;
}
#chamadas a .imagem {
  height: 43px;
}
#chamadas a .imagem img {
  display: block;
  max-width: 90%;
  margin: 20px auto 0 auto;
}
#chamadas a span {
  border: 2px #00CCFF solid;
  height: 26px;
  line-height: 26px;
  padding: 0 30px;
  border-radius: 6px;
  background: #00CCFF;
  font-size: 16px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  transition: all 0.3s ease-in;
}
#chamadas a span img {
  vertical-align: 1px;
  margin-left: 3px;
}
@media (min-width: 0px) and (max-width: 750px) {
  #chamadas a span {
    width: 50%;
  }
}
#chamadas a:hover span {
  border-color: #ccc;
}
#chamadas a:hover.link-faculdade span {
  background: #154877;
}
#chamadas a:hover.link-escola span {
  background: #0078B0;
}
#chamadas a:hover.link-ead span {
  background: #0098DA;
}
.area-banner {
  position: relative;
}
.area-banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #0098DA;
  height: 5px;
  width: 100%;
  z-index: 1;
}
.area-banner .centralizar {
  position: relative;
  z-index: 2;
}
.area-banner .banner {
  width: 100%;
  box-sizing: border-box;
  background: #E3DDD1;
}
.area-banner .banner.banner-home {
  min-height: 400px;
  background-image: url('../img/img-banner-home.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 45px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-home {
    padding: 15px;
    text-align: center;
    background-image: none;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-home {
    text-align: center;
    background-image: none;
  }
}
.area-banner .banner.banner-home p {
  margin: 0;
  color: #154877;
  line-height: 150%;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: 200;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-home p {
    font-size: 24px;
  }
  .area-banner .banner.banner-home p br {
    display: none;
  }
}
.area-banner .banner.banner-home p.destaque {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 35px;
  line-height: 160%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-home p.destaque {
    line-height: 170%;
  }
}
.area-banner .banner.banner-home p strong {
  font-weight: bold;
}
.area-banner .banner.banner-padrao a {
  display: block;
}
.area-banner .banner.banner-padrao a img {
  display: block;
  max-width: 100%;
}
.area-banner .banner.banner-historico {
  margin-top: 30px;
}
.area-banner .banner.banner-historico p {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: #154877;
  line-height: 140%;
  text-align: center;
  width: 100%;
  padding: 65px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-historico p {
    padding: 15px;
    font-size: 30px;
    line-height: 130%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-historico p {
    padding: 45px 65px;
    line-height: 125%;
  }
}
.area-banner .banner.banner-internas {
  padding: 65px 0;
  margin: 30px 0 0 0;
}
.area-banner .banner.banner-internas img {
  display: block;
  margin: 0 auto;
  max-width: 98%;
}
.area-banner .banner.banner-contato {
  padding: 35px 120px;
  margin: 30px 0 0 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato {
    padding: 35px;
  }
}
.area-banner .banner.banner-contato .tel {
  color: #154877;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.area-banner .banner.banner-contato .tel strong {
  display: block;
  font-size: 48px;
}
.area-banner .banner.banner-contato .tel strong span {
  font-size: 26px;
}
.area-banner .banner.banner-contato form {
  margin-top: 55px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form {
    margin-top: 15px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form {
    margin-top: 30px;
  }
}
.area-banner .banner.banner-contato form .resposta-form {
  text-align: center;
  padding: 30px;
  border: 2px #154877 solid;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #154877;
}
.area-banner .banner.banner-contato form .resposta-form.erro {
  padding: 10px;
  max-width: 50%;
  margin: 10px auto;
  color: #fff;
  font-weight: normal;
  font-size: 15px;
  background: #f0ad4e;
  border: 1px #eea236 solid;
}
.area-banner .banner.banner-contato form .colunas {
  font-size: 0;
}
.area-banner .banner.banner-contato form .colunas .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna {
    width: 100%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna {
    width: 100%;
  }
}
.area-banner .banner.banner-contato form .colunas .coluna.ampliada {
  width: 70%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna.ampliada {
    width: 100%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna.ampliada {
    width: 100%;
  }
}
.area-banner .banner.banner-contato form .colunas .coluna.espaco-direita {
  box-sizing: border-box;
  padding-right: 6px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna.espaco-direita {
    padding-right: 0px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna.espaco-direita {
    padding-right: 0px;
  }
}
.area-banner .banner.banner-contato form .colunas .coluna.espaco-esquerda {
  box-sizing: border-box;
  padding-left: 6px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna.espaco-esquerda {
    padding-left: 0px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna.espaco-esquerda {
    padding-left: 0px;
  }
}
.area-banner .banner.banner-contato form .colunas .coluna.reduzida {
  width: 30%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna.reduzida {
    width: 100%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna.reduzida {
    width: 100%;
  }
}
.area-banner .banner.banner-contato form .colunas .coluna p {
  color: #0098DA;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
  padding-right: 15px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna p {
    text-align: center;
    padding-right: 0px;
  }
  .area-banner .banner.banner-contato form .colunas .coluna p br {
    display: none;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna p {
    text-align: center;
    padding-right: 0px;
  }
  .area-banner .banner.banner-contato form .colunas .coluna p br {
    display: none;
  }
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="text"],
.area-banner .banner.banner-contato form .colunas .coluna input[type="email"],
.area-banner .banner.banner-contato form .colunas .coluna textarea {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 4px 8px;
  background: #fff;
  border: 0;
  margin: 0 0 2px 0;
  color: #0078B0;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="text"]::-webkit-input-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna input[type="email"]::-webkit-input-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna textarea::-webkit-input-placeholder {
  color: #0098DA;
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="text"]:-moz-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna input[type="email"]:-moz-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna textarea:-moz-placeholder {
  color: #0098DA;
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="text"]::-moz-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna input[type="email"]::-moz-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna textarea::-moz-placeholder {
  color: #0098DA;
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="text"]:-ms-input-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna input[type="email"]:-ms-input-placeholder,
.area-banner .banner.banner-contato form .colunas .coluna textarea:-ms-input-placeholder {
  color: #0098DA;
}
.area-banner .banner.banner-contato form .colunas .coluna textarea {
  resize: none;
  overflow: auto;
  height: 100px;
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="submit"] {
  height: 98px;
  width: 98px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  background: #0078B0;
  display: block;
  border: 0;
  margin-left: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px #0078B0 solid;
  transition: all 0.3s ease-in;
}
.area-banner .banner.banner-contato form .colunas .coluna input[type="submit"]:hover {
  background: #fff;
  color: #0078B0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .area-banner .banner.banner-contato form .colunas .coluna input[type="submit"] {
    margin-top: 2px;
    margin-left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .area-banner .banner.banner-contato form .colunas .coluna input[type="submit"] {
    margin-top: 2px;
    margin-left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
}
.conteudo {
  font-size: 0;
}
.conteudo .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.conteudo .coluna.esquerda {
  width: 45%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .conteudo .coluna.esquerda {
    width: 100%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .conteudo .coluna.esquerda {
    width: 100%;
  }
}
.conteudo .coluna.esquerda img {
  display: block;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .conteudo .coluna.esquerda img {
    max-width: 90%;
    margin: 0 auto 15px auto;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .conteudo .coluna.esquerda img {
    max-width: 70%;
    margin: 0 auto 15px auto;
  }
}
.conteudo .coluna.direita {
  width: 55%;
}
@media (min-width: 0px) and (max-width: 750px) {
  .conteudo .coluna.direita {
    width: 100%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  .conteudo .coluna.direita {
    width: 100%;
  }
}
.conteudo .coluna.direita p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #154877;
  line-height: 150%;
  margin-bottom: 30px;
}
.conteudo-internas {
  border-bottom: 5px #0098DA solid;
  padding-bottom: 70px;
  padding-top: 40px;
  text-align: center;
}
.conteudo-internas p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #154877;
  line-height: 140%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.conteudo-internas h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: #154877;
  margin: 65px 0 30px 0;
}
.conteudo-internas ul {
  padding: 0;
  list-style: none;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 50px auto;
}
.conteudo-internas ul li {
  text-align: center;
  display: block;
  min-height: 37px;
  line-height: 220%;
  border-bottom: 1px #DCDCDC solid;
  color: #808080;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.conteudo-internas ul li strong {
  font-weight: bold;
}
.conteudo-internas .saiba-mais {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #154877;
}
.conteudo-internas .saiba-mais img {
  vertical-align: -22px;
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .conteudo-internas .saiba-mais img {
    margin: 20px 0 0 0;
    vertical-align: 0;
    display: block;
  }
}
.conteudo-internas p + .saiba-mais {
  margin-top: 120px;
}
footer .central-atendimento {
  padding: 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #808080;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 750px) {
  footer .central-atendimento span {
    display: block;
  }
}
footer .central-atendimento strong {
  font-size: 30px;
}
footer .central-atendimento small {
  margin-top: 15px;
  display: block;
  font-size: 14px;
}
footer .assinatura {
  padding: 30px 0;
  text-align: center;
  background: #CCCCCC;
}
footer .assinatura ul {
  font-size: 0;
}
footer .assinatura ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media (min-width: 0px) and (max-width: 750px) {
  footer .assinatura ul li {
    display: block;
    margin: 10px 0;
  }
}
footer .assinatura ul li a {
  display: block;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #154877;
}
footer .assinatura ul li a:hover {
  color: #599DBD;
}
footer .assinatura ul li a:after {
  content: "|";
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #154877;
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 750px) {
  footer .assinatura ul li a:after {
    display: none;
  }
}
footer .assinatura ul li:last-child a:after {
  display: none;
}
footer .assinatura .copyright {
  padding-top: 10px;
  margin: 35px auto 0 auto;
  width: 100%;
  max-width: 1000px;
  border-top: 1px #599DBD solid;
  color: #599DBD;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
footer .assinatura .copyright a {
  color: #599DBD;
}
footer .assinatura .copyright a:active,
footer .assinatura .copyright a:visited {
  color: #599DBD;
}
footer .assinatura .copyright a:hover {
  color: #154877;
}
