@import 'vars.less';

body + object {display: none;}

@cinza:#808080;
@azul_escuro:#154877;
@azul_medio:#0078B0;
@azul_claro:#0098DA;
@azul_agua:#00CCFF;
@azul_footer:#599DBD;
@bg_footer:#CCCCCC;
@bg_banner:#E3DDD1;

header{

  nav{
    ul{
      width: 100%;
      font-size: 0;
      display: block;
      list-style: none;
      text-align: center;
      margin: 20px 0 40px 0;
      padding: 0;
      li{
        .inline;
        a{
          color:@cinza;
          height: 22px;
          line-height: 22px;
          padding: 0 0 0 15px;
          .montserrat(14px);
          text-decoration: none;
          display: block;
          &:active, &:visited{color:@cinza;}
          &:hover, &.ativo{color:@azul_medio}
          &:after{
            content:"|";
            .montserrat(14px);
            color:@cinza;
            margin-left: 15px;
          }
        }
        &:last-child a:after{display:none;}
      }
    }
  }

  #link-home{
    text-align: center;
    a{
      .inline;
      img{
        margin: 0 auto;
        display: block;
        max-width: 98%;
      }
    }
  }
}

#chamadas{
  padding: 40px 0;
  font-size: 0;
  text-align: center;
  a{
    @media @small{
      width: 85%;
      margin-bottom: 30px;
    }
    @media @medium{
      width: 45%;
      margin-bottom: 30px;
      &:first-child{margin-right: 30px;}
      &:last-child{margin-right: auto;margin-left: auto;}
    }
    @media @large{width: 33%;}
    .inline;
    box-sizing: border-box;
    padding: 30px 0 37px 0;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    position: relative;
    .montserrat(24px);
    &:active, &:visited{color:#fff;}
    &.link-faculdade{background:@azul_escuro;}
    &.link-escola{background:@azul_medio;}
    &.link-ead{background:@azul_claro;}
    h1{
      margin: 0;
      font-size: 24px;
    }
    h2{
      margin: 4px 0 0 0;
      font-size: 14px;
    }
    .imagem{
      height: 43px;
      img{
        display: block;
        max-width: 90%;
        margin: 20px auto 0 auto;
      }
    }
    span{
      border: 2px @azul_agua solid;
      height: 26px;
      line-height: 26px;
      padding: 0 30px;
      border-radius: 6px;
      background: @azul_agua;
      font-size: 16px;
      position: absolute;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      .transition;
      img{
        vertical-align: 1px;
        margin-left: 3px;
      }
      @media @small{
        width: 50%;
      }
    }
    &:hover{
      span{border-color:#ccc;}
      &.link-faculdade span{background: @azul_escuro;}
      &.link-escola span{background: @azul_medio;}
      &.link-ead span{background: @azul_claro;}
    }
  }
}

.area-banner{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: @azul_claro;
    height: 5px;
    width: 100%;
    z-index: 1;
  }
  .centralizar{
    position: relative;
    z-index: 2;
  }
  .banner{
    width: 100%;
    box-sizing: border-box;
    background: @bg_banner;

    &.banner-home{
      min-height: 400px;
      background-image: url('../img/img-banner-home.png');
      background-position: right top;
      background-repeat: no-repeat;
      background-size: auto 100%;
      padding: 45px;
      @media @small{
        padding: 15px;
        text-align: center;
        background-image: none;
      }
      @media @medium{
        text-align: center;
        background-image: none;
      }
      p{
        margin: 0;
        color: @azul_escuro;
        line-height: 150%;
        .worksans(30px, 200);
        @media @small{
          br{
            display: none;
          }
          font-size: 24px;
        }
        &.destaque{
          .worksans(16px);
          margin-top: 35px;
          line-height: 160%;
          @media @small{
            line-height: 170%;
          }
        }
        strong{
          font-weight: bold;
        }
      }
    }

    &.banner-padrao{
      a{
        display: block;
        img{
          display: block;
          max-width: 100%;
        }
      }
    }

    &.banner-historico{
      margin-top: 30px;
      p{
        box-sizing: border-box;
        .worksans(40px, 200);
        color:@azul_escuro;
        line-height: 140%;
        text-align: center;
        width: 100%;
        padding: 65px;
        @media @small{
          padding: 15px;
          font-size: 30px;
          line-height: 130%;
        }
        @media @medium{
          padding: 45px 65px;
          line-height: 125%;
        }
      }
    }

    &.banner-internas{
      padding: 65px 0;
      margin: 30px 0 0 0;
      img{
        display: block;
        margin: 0 auto;
        max-width: 98%;
      }
    }

    &.banner-contato{
      padding: 35px 120px;
      margin: 30px 0 0 0;

      @media @small{
        padding: 35px;
      }

      .tel{
        color:@azul_escuro;
        text-align: center;
        .montserrat(12px, bold);
        strong{
          display: block;
          font-size: 48px;
          span{
            font-size: 26px;
          }
        }
      }

      form{
        margin-top: 55px;
        @media @small{margin-top: 15px;}
        @media @medium{margin-top: 30px;}
        .resposta-form{
          text-align: center;
          padding: 30px;
          border: 2px @azul_escuro solid;
          border-radius: 5px;
          margin-bottom: 10px;
          .worksans(30px, 200);
          color:@azul_escuro;
          &.erro{
            padding: 10px;
            max-width: 50%;
            margin: 10px auto;
            color:#fff;
            font-weight: normal;
            font-size: 15px;
            background: #f0ad4e;
            border: 1px #eea236 solid;
          }
        }
        .colunas{
          font-size: 0;
          .coluna{
            .inline;

            width: 50%;
            @media @small{width:100%;}
            @media @medium{width:100%;}

            &.ampliada{
              width: 70%;
              @media @small{width:100%;}
              @media @medium{width:100%;}
            }

            &.espaco-direita{
              box-sizing: border-box;
              padding-right: 6px;
              @media @small{padding-right: 0px;}
              @media @medium{padding-right: 0px;}
            }

            &.espaco-esquerda{
              box-sizing: border-box;
              padding-left: 6px;
              @media @small{padding-left: 0px;}
              @media @medium{padding-left: 0px;}
            }

            &.reduzida{
              width: 30%;
              @media @small{width:100%;}
              @media @medium{width:100%;}
            }

            p{
              color: @azul_claro;
              .worksans(15px);
              text-align: right;
              padding-right: 15px;
              @media @small{
                text-align: center;
                padding-right: 0px;
                br{
                  display: none;
                }
              }
              @media @medium{
                text-align: center;
                padding-right: 0px;
                br{
                  display: none;
                }
              }
            }
            input[type="text"],
            input[type="email"],
            textarea{
              box-sizing: border-box;
              width: 100%;
              height: 32px;
              line-height: 32px;
              padding: 4px 8px;
              background: #fff;
              border: 0;
              margin: 0 0 2px 0;
              color:@azul_medio;
              .worksans(14px);
              .placeholder(@azul_claro);
            }
            textarea{
              resize: none;
              overflow: auto;
              height: 100px;
            }
            input[type="submit"]{
              height: 98px;
              width: 98px;
              line-height: 100px;
              text-align: center;
              color:#fff;
              background: @azul_medio;
              display: block;
              border: 0;
              margin-left: 3%;
              .montserrat(14px, bold);
              cursor:pointer;
              border: 1px @azul_medio solid;
              .transition;
              &:hover{
                background: #fff;
                color:@azul_medio;
              }
              @media @small{
                margin-top: 2px;
                margin-left: 0;
                width: 100%;
                height: 40px;
                line-height: 40px;
              }
              @media @medium{
                margin-top: 2px;
                margin-left: 0;
                width: 100%;
                height: 40px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }

  }
}

.conteudo{
  font-size: 0;
  .coluna{
    .inline;
    &.esquerda{
      width: 45%;
      @media @small{
        width: 100%;
      }
      @media @medium{
        width: 100%;
      }
      img{
        display: block;
        max-width: 100%;
        @media @small{
          max-width: 90%;
          margin: 0 auto 15px auto;
        }
        @media @medium{
          max-width: 70%;
          margin: 0 auto 15px auto;
        }
      }
    }
    &.direita{
      width: 55%;
      @media @small{
        width: 100%;
      }
      @media @medium{
        width: 100%;
      }
      p{
        .worksans(16px);
        color:@azul_escuro;
        line-height: 150%;
        margin-bottom: 30px;
      }
    }
  }
}

.conteudo-internas{
  border-bottom: 5px @azul_claro solid;
  padding-bottom: 70px;
  padding-top: 40px;
  text-align: center;
  p{
    .worksans(16px);
    color: @azul_escuro;
    line-height: 140%;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  h1{
    .worksans(40px, 200);
    color: @azul_escuro;
    margin: 65px 0 30px 0;
  }
  ul{
    padding:0;
    list-style: none;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 50px auto;
    li{
      text-align: center;
      display: block;
      min-height: 37px;
      line-height: 220%;
      border-bottom: 1px #DCDCDC solid;
      color:@cinza;
      .worksans(18px);
      strong{ font-weight: bold; }
    }
  }
  .saiba-mais{
    .inline;
    .montserrat(18px);
    color:@azul_escuro;
    img{
      vertical-align: -22px;
      margin-left: 30px
    }
    @media @small{
      img{
        margin: 20px 0 0 0;
        vertical-align: 0;
        display: block;
      }
    }
  }
  p + .saiba-mais{
    margin-top: 120px;
  }
}

footer{

  .central-atendimento{
    padding: 40px 0;
    .montserrat(20px);
    color:@cinza;
    text-align: center;
    @media @small{
      span{
        display: block;
      }
    }
    strong{
      font-size: 30px;
    }
    small{
      margin-top: 15px;
      display: block;
      font-size: 14px;
    }
  }

  .assinatura{
    padding: 30px 0;
    text-align: center;
    background: @bg_footer;
    ul{
      font-size: 0;
      li{
        .inline;
        @media @small{
          display: block;
          margin: 10px 0;
        }
        a{
          display: block;
          padding: 0 0 0 15px;
          .montserrat(16px);
          color: @azul_escuro;
          &:hover{color:@azul_footer;}
          &:after{
            content:"|";
            .montserrat(16px);
            color: @azul_escuro;
            margin-left: 15px;
            @media @small{
              display: none;
            }
          }
        }
        &:last-child a:after{display:none;}
      }
    }

    .copyright{
      padding-top: 10px;
      margin: 35px auto 0 auto;
      width: 100%;
      max-width: 1000px;
      border-top: 1px @azul_footer solid;
      color:@azul_footer;
      .montserrat(10px);
      a{
        color:@azul_footer;
        &:active, &:visited{color:@azul_footer;}
        &:hover{color:@azul_escuro;}
      }
    }
  }
}
