@small	: ~"(min-width: 0px) and (max-width: 750px)";
@medium : ~"(min-width: 751px) and (max-width: 1099px)";
@large  : ~"(min-width: 1100px)";

@marrom: #886F2F;
@marrom_escuro: #69572A;
@laranja: #F58734;
@amarelo: #F9F39B;

.montserrat(@fsize:12px, @fweight:normal){
	font-family: 'Montserrat', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.worksans(@fsize:12px, @fweight:normal){
	font-family: 'Work Sans', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.transition{
  transition: all .3s ease-in;
}

a{
	text-decoration: none;
  .transition;
}

.centralizar{
  width: 100%;
  margin: 0 auto;
  position: relative;
  &.espacado{
    padding: 20px 0;
  }
  @media @small{
    max-width: 440px;
  }
  @media @medium{
    max-width: 750px;
  }
  @media @large{
    max-width: 1100px;
  }
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
