@small	: ~"(min-width: 0px) and (max-width: 750px)";
@medium : ~"(min-width: 751px) and (max-width: 1199px)";
@large  : ~"(min-width: 1200px)";

@azul_claro:#0078B0;
@azul_medio:#005894;
@azul_escuro:#06549C;
@azul_banner:#01669C;
@azul_texto:#01669C;
@azul_fundo:#E3EDE9;
@verde:#CBFF66;
@vermelho:#9b111e;

@cinza_claro:#F2F2F2;
@escola_azul_escuro:#000066;
@escola_azul_claro:#A6DFF9;
@escola_azul_marcacao:#02CCFF;
@escola_azul_rodape:#87EBF3;
@escola_azul_texto:#1C84B9;
@escola_cinza_escuro:#7E7F80;
@escola_azul_medio:#BAD1DC;
@escola_azul_submit:#99FFFF;

.asap(@fsize:12px, @fweight:normal){
	font-family: 'Asap', sans-serif;
	font-size: @fsize;
	font-weight: @fweight;
}

.lato(@fsize:12px, @fweight:700){
	font-family: 'Lato', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.centralizar{
	margin:0 auto;
	max-width: 1200px;
	width: 100%;
	@media @small{
    max-width: 440px;
  }
  @media @medium{
    max-width: 750px;
  }
  @media @large{
    max-width: 1200px;
  }
}

.centralizar-reduzido{
	margin:0 auto;
	width: 100%;
	@media @small{
    max-width: 440px;
  }
  @media @medium{
    max-width: 750px;
  }
  @media @large{
    max-width: 870px;
  }
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
