@import '../vars.less';

.conteudo-a-sequencial {
  font-size: 0;
  padding-bottom: 50px;
  padding-top: 20px;
  aside {
    .inline;
    width: 20%;
    box-sizing: border-box;
    padding-right: 30px;
    @media @medium{
      width: 100%;
      padding-right: 0px;
    }
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
  }
  section {
    .inline;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
    @media @medium{
      width: 100%;
    }
    @media @small{
      width: 100%;
    }
    h1.main-title{
      .lato(36px, 300);
      color: @azul_escuro;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .colunas {
      .coluna{
        .inline;
        box-sizing: border-box;
        width: 66%;
        &:first-child{
          padding-right: 30px;
          width: 34%;
        }
        @media @small{
          padding: 0;
          width: 100% !important;
          margin-bottom: 10px;
        }
        img{
          display: block;
          margin: 0 auto;
          max-width: 100%;
        }
        h2{
          .lato(20px, 300);
          color: @azul_escuro;
          line-height: 120%;
          margin-bottom: 30px;
        }
        .cke{
          p{
            color: @azul_escuro;
            .asap(14px);
            line-height: 170%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
