@import '../vars.less';

header{
  #menu-toggle{
    display: none;
    @media @small{
      display: block;
      float: right;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      text-align: center;
      margin-top: 30px;
      border: 2px @escola_azul_escuro solid;
      border-radius: 4px;
      transition: all .3s ease-in;
      margin-right: 10px;
      .asap(14px);
      color:@escola_azul_escuro;
    }
  }
  .links-topo{
    height: 40px;
    line-height: 40px;
    @media @small{
      height: auto;
    }
    background: @azul_claro;
    border-bottom: 1px #2C729E solid;
    .link-faculdade{
      width: 180px;
      float: left;
      @media @small{
        display: none;
        width: 100%;
        float: none;
        text-align: center;
      }
      a{
        padding-left: 1000px;
        margin-left: -1000px;
        display: block;
        height: 40px;
        line-height: 1.2;
        color:#fff;
        background-color: @escola_azul_escuro;
        transition: all .3s ease-in;
        padding-top: 6px;
        box-sizing: border-box;
        .asap(12px);
        strong{
          display: block;
          font-weight: bold;
        }
        &:active, &:visited{
          color:#fff;
        }
        &:hover{
          background-color: @escola_azul_marcacao;
        }
      }
    }
    .item-topo{
      float: left;
      height: 40px;
      line-height: 40px;
      border-left: 1px #03A6CD solid;
      color:#fff;
      .asap(14px);
      @media @small{
        float:none;
        .inline;
        font-size: 13px;
      }
      &.link-social {
        padding: 0 10px;
        font-size: 0;
        @media @small { padding: 0 7px; }
      }
      a{
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        display: block;
        transition: all .3s ease-in;
        @media @small{
          padding: 0 7px;
        }
        &:hover{
          color: #fff;
          background-color: @escola_azul_marcacao;
        }
        &.social {
          display: inline-block;
          vertical-align: top;
          width: 16px;
          line-height: 1;
          text-indent: -9999px;
          padding: 0 !important;
          + .social { margin-left: 5px; }
          &.facebook {
            background: url('../img/layout/ico-facebook2.png') no-repeat center;
          }
          &.instagram {
            background: url('../img/layout/ico-instagram.png') no-repeat center;
          }
        }
      }
      img{
        vertical-align: -8px;
      }
    }
    .info-telefone{
      line-height: 1.2;
      padding: 0 15px;
      font-size: 0;
      p {
        display: inline-block;
        height: 40px;
        box-sizing: border-box;
        .asap(10px);
        padding-top: 6px;
        padding-left: 35px;
        &.telefone {
          background: url('../img/layout/ico-telefone.png') no-repeat left center;
        }
        &.whatsapp {
          background: url('../img/layout/ico-whataspp.png') no-repeat left center;
        }
        strong {
          .asap(16px, bold);
        }
        + p {
          margin-left: 30px;
        }
      }
      @media @medium{
        display: none;
      }
      @media @small{
        display: none;
      }
    }
    .link-biblioteca-online,
    .link-portal-aluno{
      img{
        margin-right: 5px;
      }
    }
    .link-facebook{
      img{
        vertical-align: -4px;
      }
    }
    .link-inscreva-se-mobile {
      display: none;
      a{
        display: block;
        border: 1px solid #03a6cd;
        border-top: none;
        background-color:@azul_claro;
        padding: 17px 20px;
        line-height: 1;
        text-align: center;
        .asap(16px, bold);
        transition: all .3s ease-in;
        color: @escola_azul_claro;
        &:hover, &.ativo{
          color: @azul_claro;
          background-color: @escola_azul_claro;
        }
      }
      @media @small {
        display: block;
      }
    }
  }
  nav{
    background:@cinza_claro;
    height: 120px;
    @media @medium{
      height: auto;
    }
    @media @small{
      height: auto;
    }
    #link-home{
      .inline;
      padding: 0 15px 0 0;
      img{
        max-width: 100%;
        margin-top: 30px;
      }
      @media @medium{
        display: block;
        text-align: center;
      }
      @media @small{
        display: block;
        padding-bottom: 20px;
      }
    }
    .menu-principal{
      .inline;
      @media @medium{
        display: block;
        text-align: center;
      }
      @media @small{
        display: block;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in;
        opacity: 0;
        &.aberto{
          max-height: 700px;
          opacity: 1;
        }
      }
      li{
        .inline;
        height: 40px;
        padding: 20px 8px;
        text-align: center;
        margin-top: 20px;
        @media @medium{
          margin-top: 10px;
        }
        @media @small{
          margin-top: 0;
          margin-bottom: 10px;
          width: 100%;
          height: auto;
          max-width: 100%;
          box-sizing: border-box;
          padding: 0;
          &.link-inscreva-se {
            margin-bottom: 20px;
          }
        }
        a{
          .asap(16px, bold);
          color:@azul_claro;
          display: block;
          transition: all .3s ease-in;
          box-sizing: border-box;
          padding: 12px;
          width: 100%;
          border: 1px @cinza_claro solid;
          &:active, &:visited{color:@azul_claro;}
          &:hover, &.ativo{
            border-color:@azul_claro;
          }
        }
        &.link-inscreva-se{
          padding-right:0;
          padding-left:0;
          a{
            border: none;
            background-color:@azul_claro;
            padding: 12px 20px;
            height: 42px;
            color: @escola_azul_claro;
            &:hover, &.ativo{
              color: @azul_claro;
              background-color: @escola_azul_claro;
            }
          }
        }
      }
    }
    .menus-secundarios{
      float:right;
      width: 260px;
      font-size: 0;
      @media @medium{
        width: 100%;
        float: none;
      }
      @media @small{
        width: 100%;
        float: none;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in;
        opacity: 0;
        &.aberto{
          max-height: 700px;
          opacity: 1;
        }
      }
      ul{
        width: 50%;
        padding-top: 22px;
        .inline;
        @media @medium{
          width: 100%;
          padding-top: 5px;
          padding-bottom: 20px;
        }
        @media @small{
          padding-top: 5px;
          padding-bottom: 20px;
          border-top: 1px #CBFF66 solid;
          margin-top: 10px;
        }
        li{
          @media @medium{
            .inline;
            width: 20%;
            text-align: center;
          }
          @media @small{
            text-align: center;
            margin: 10px 0;
          }
          a{
            line-height: 130%;
            transition: all .3s ease-in;
            color:@escola_azul_escuro;
            .asap(13px);
            @media @small{
              font-size: 16px;
            }
            &:active, &:visited{color:@escola_azul_escuro;}
            &:hover, &.ativo{color:@escola_azul_marcacao;}
          }
        }
      }
    }
  }
}

.conteudo{
  padding: 4px 0 0 0;
  min-height: 400px;
}

.link-regimento{
  .asap(14px, bold);
  transition: all .3s ease-in;
  color: @azul_escuro;
  .inline;
  padding: 3px 6px;
  background: #fff;
  margin-top: 5px;
  &:hover{
    background: @azul_escuro;
    color: #fff;
  }
}


.btn-voltar{
  padding: 0 19px;
  height: 28px;
  line-height: 28px;
  .inline;
  .asap(16px, bold);
  color:@escola_azul_submit;
  text-align: center;
  background: #005789;
  border:1px #005789 solid;
  transition: all .3s ease-in;
  cursor: pointer;
  &:hover{
    color:#005789;
    background:#fff;
  }
}

.cke{
  table{
    width: 100%;
    display: block;
    border-collapse: collapse;
    thead, tr, tbody{width: 100%;}
    tr, td{border: 1px @azul_texto solid;}
    td{
      padding:4px;
    }
  }
  p{
    display: block;
    line-height: 130%;
    margin: 0 0 13px 0;
  }
  strong{ font-weight: bold; }
  em{ font-style: italic; }
  ul{ list-style: disc outside; padding-left: 20px; }
  ol{ list-style: decimal outside; padding-left: 20px; }
  li{
    margin: 3px 0;
    display: list-item;
  }
  a{
    font-weight: bold;
    text-decoration: underline;
    transition: color .3s ease-in;
    &:hover{
      color:@escola_azul_marcacao;
    }
  }
  img{
    max-width: 100%;
    display: block;
    margin: 15px auto;

  }
}

ul.pagination{
  text-align: center;
  display: block;
  margin-top: 50px;
  li{
    .inline;
    a, span{
      margin: 0 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 100%;
      border: 1px #fff solid;
      color: @azul_medio;
      .asap(12px);
      text-align: center;
      display: block;
      transition: all .3s ease-in;
      &:active, &:disabled{color: @azul_medio;}
    }
    &.active a, &.active span{ border-color: @azul_medio; }
    &.disabled a, &.disabled span{display:none;}
    a:hover{
      background-color:@azul_medio;
      color:#fff;
    }
  }
}

#busca-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  width: 0;
  height: 0;
  z-index: 9999999999999;
  transition: opacity .3s ease-in;
  opacity: 0;
  form{
    position: relative;
    height: 60px;
    max-width: 910px;
    margin: 0 auto;
    margin-top: 70px;
    input[type="text"]{
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 10px 0 10px 50px;
      background: #fff;
      border-radius: 30px;
      .asap(20px);
      display: none;
      color:@azul_escuro;
    }
    input[type="submit"]{
      width: 28px;
      height: 28px;
      overflow: hidden;
      text-indent: -400px;
      background: url('../img/layout/ico-busca.png') center center no-repeat;
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 16px;
      display: none;
    }
  }
  &.aberto{
    opacity: 1;
    width: 100%;
    height: 100%;
    input[type="text"],
    input[type="submit"]{
      display: block;
    }
  }
}

.fancybox-overlay{
  z-index: 1600;
}

.fancybox-close {
  top: -36px;
  right: -13px;
  background: url('../img/layout/x-fechar.png') center center no-repeat;
  @media @small{
    top: 4px;
    right: -6px;
  }
  @media @medium{
    top: 4px;
    right: -6px;
  }
}

.fancybox-nav{
  width: 36px;
  height: 36px;
  transform: translateY(-50%);
  top: 50%;
  span{
    position: relative;
    top:0;
    left:0;
    display: block;
    visibility: visible !important;
  }
  &.fancybox-next{
    right: -55px;
    //@media @small{ right: 0; }
    //@media @medium{ right: 0; }
    span{
      background: url('../img/layout/seta-avancar.png') center center no-repeat;
    }
  }
  &.fancybox-prev{
    left: -55px;
    //@media @small{ left: 0; }
    //@media @medium{ left: 0; }
    span{
      background: url('../img/layout/seta-retroceder.png') center center no-repeat;
    }
  }
}

.fancybox-title{
  .asap(14px);
  color:@azul_texto;
  line-height: 130%;
}

#banner-telefone{
  margin: 25px auto 50px auto;
  height: 60px;
  width: 100%;
  max-width: 920px;
  border-radius: 30px;
  background: url('../img/layout/ico-centralatendimento.png') @azul_banner 20px center no-repeat;
  color:#fff;
  line-height: 60px;
  text-indent: 100px;
  .asap(24px);
  @media @small{
    background-position: -4px -4px;
  }
  strong{
    font-weight: bold;
    font-size: 36px;
  }
  .horario{
    margin-top: 12px;
    margin-right: 40px;
    text-indent: 0px;
    float: right;
    color:@escola_azul_submit;
    line-height: 130%;
    max-width: 150px;
    .asap(14px, bold);
  }
  @media @medium{
    font-size: 16px;
    height: auto;
    line-height: 160%;
    text-align: center;
    .horario{
      display: block;
      float:none;
      margin: 5px 0 0 0;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 5px 0;
      br{display: none;}
    }
  }
  @media @small{
    font-size: 16px;
    height: auto;
    line-height: 160%;
    text-align: center;
    .horario{
      display: block;
      float:none;
      margin: 5px 0 0 0;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 5px 0;
      br{display: none;}
    }
  }
}

#banner-whatsapp {
  display: block;
  max-width: 545px;
  text-align: center;
  background: url('../img/layout/ico-whataspp.png') no-repeat 35px center @azul_banner;
  color: #fff;
  padding: 12px 25px 12px 75px;
  margin: -40px auto 55px;
  .asap(22px);
  border-radius: 30px;
  span {
    .asap(30px, bold);
  }
  @media @small {
    font-size: 18px;
    span { font-size: 25px; }
  }
}

footer{
  background-color: @azul_medio;
  .centralizar {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
  }
  @media @medium {
    .coluna-cursos { display: none; }
  }
  @media @small {
    .centralizar {
      display: block;
      padding: 20px 0;
    }
    .coluna {
      &.coluna-cursos {
        display: none;
      }
      display:block;
      +.coluna { margin-top: 15px; }
    }
  }
  .footer-info {
    p {
      margin-top: 20px;
      color: #fff;
      padding-left: 45px;
      .asap(11px);
      span {
        display: block;
        margin-top: 2px;
        .asap(16px);
        strong {
          .asap(24px, bold);
        }
      }
      &.telefone {
        background: url('../img/layout/ico-telefone.png') no-repeat left top;
      }
      &.whatsapp {
        background: url('../img/layout/ico-whataspp.png') no-repeat left top;
      }
    }
    .redes-sociais {
      margin-top: 30px;
      span {
        .asap(10px);
        display: inline-block;
        max-width: 176px;
        color: #fff;
      }
      a {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: top;
        text-indent: -9999px;
        &.facebook {
          background: url('../img/layout/ico-facebook2.png') no-repeat center;
        }
        &.instagram {
          background: url('../img/layout/ico-instagram.png') no-repeat center;
        }
      }
    }
  }
  ul{
    li{
      display: block;
      margin: 5px 0;
      a{
        display: block;
        .asap(14px);
        color:@escola_azul_rodape;
        transition: all .3s ease-in;
        line-height: 120%;
        &:active, &:visited{color:@escola_azul_rodape;}
        &:hover{color:#fff;}
      }
      &.li-busca{
        margin-top: 15px;
        img{
          margin-right: 5px;
          vertical-align: -10px;
        }
      }
    }
    &.destaque li a{
      font-weight: bold;
    }
  }
  .assinatura{
    height: 30px;
    line-height: 30px;
    background-color: @azul_claro;
    text-align: center;
    color: @escola_azul_marcacao;
    .asap(10px);
    a{
      border-bottom: 1px transparent dotted;
      transition: all .3s ease-in;
      &:active, &:visited{color: @escola_azul_marcacao;}
      &:hover{
        border-bottom: 1px #fff dotted;
        color: #fff;
      }
    }
  }
}
