@import '../vars.less';

.conteudo-cursos-tecnicos{
  font-size:0;
  padding-bottom: 50px;
  aside{
    .inline;
    width: 20%;
    box-sizing: border-box;
    padding-right: 30px;
    @media @medium{
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding-right: 0;
    }
    @media @small{
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  section{
    .inline;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
    @media @medium{
      display: block;
      width: 100%;
    }
    @media @small{
      display: block;
      width: 100%;
    }
  }
}

p.olho{
  .asap(14px);
  color:@azul_escuro;
  line-height: 160%;
  max-width: 60%;
  @media @small{
    max-width: 100%;
  }
}

#curso-por-area{
  margin: 25px 0;
  h1{
    margin-bottom: 15px;
    text-align: center;
    .lato(20px, light);
    color:@azul_escuro;
  }
  div{
    .inline;
    padding: 30px 40px;
    width: 32%;
    box-sizing: border-box;
    border-radius: 8px;
    background:#F2F2F2;
    &.margem{margin: 0 1.5%;}
    h2{
      text-align: center;
      .lato(36px, light);
      color: @azul_escuro;
      margin-bottom: 20px;
    }
    ul{
      li{
        display: block;
        margin: 6px 0;
        a{
          .asap(18px, bold);
          text-align: center;
          text-transform: uppercase;
          font-style: italic;
          display: block;
          padding: 4px 0;
          transition: all .3s ease-in-out;
          &:hover{
            color:#fff !important;
          }
        }
      }
    }
    @media @small{
      display: block;
      width: 100%;
      margin: 0 0 10px 0 !important;
    }
  }
}

#curso-por-unidade{
  font-size:0;
  h1{
    margin-bottom: 15px;
    text-align: center;
    .lato(20px, light);
    color:@azul_escuro;
  }
  div{
    .inline;
    min-height: 325px;
    width: 24.25%;
    margin-right: 1%;
    border-radius: 6px;
    padding: 25px 20px;
    box-sizing: border-box;
    .asap(12px, bold);
    color:#fff;
    &:nth-child(5){
      margin-right: 0;
    }
    p{

    }
    h2{
      font-size: 22px;
      display: block;
      margin: 3px 0 10px 0;
    }
    ul{
      li{
        display: block;
        margin-bottom: 4px;
        a{
          font-size: 15px;
          transition: all .3s ease-in-out;
          &:active, &:visited{color:#fff;}
          &:hover{color:@escola_azul_marcacao;}
        }
      }
    }
    @media @medium{
      .inline;
      width: 49.5%;
      margin: 0 0 10px 0;
      &:nth-child(even){margin-right: .5%;}
    }
    @media @small{
      min-height: auto;
      display: block;
      width: 100%;
      margin: 0 0 10px 0 !important;
    }
  }
}

#curso-por-area + #curso-por-unidade{margin-top: 60px;}

.cursos-colunas{
  .cursos-coluna{
    .inline;
    box-sizing: border-box;
    &:first-child{
      width: 36%;
      padding-right: 20px;
    }
    width: 64%;
    @media @medium{
      width: 100% !important;
    }
    @media @small{
      width: 100% !important;
    }
    .cursos-box{
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
      h1{
        color:#fff;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        .asap(32px, bold);
        font-style: italic;
        text-transform: uppercase;
        small{
          .lato(20px, 300);
          display: block;
          margin-bottom: 10px;
          font-style: normal;
        }
      }
      img{
        display: block;
        max-width: 100%;
        margin: 10px auto 0 auto;
      }
    }
    .cursos-unidades{
      padding: 35px 20px;
      p{
        .asap(16px);
        color:@escola_azul_texto;
        margin-bottom: 20px;
      }
      a{
        line-height: 155%;
        display: block;
        .asap(20px, bold);
        transition: color .3s ease-in;
        &:hover{color:@escola_azul_marcacao !important;}
      }
    }
    .cursos-detalhes{
      .cke{
        p{
          color:@escola_azul_texto;
          .asap(14px);
          line-height: 160%;
          margin: 0 0 20px 0;
        }
      }
      strong{
        font-weight: bold;
      }
      .topico{
        h2{
          .asap(20px, bold);
          color:@azul_escuro;
        }
        table{
          margin: 10px 0 30px 0;
          width: 100%;
          display: table;
          thead{
            width: 100%;
            tr{
              width: 100%;
              th{
                background: @azul_escuro;
                color:#fff;
                .asap(14px, bold);
                padding: 4px;
              }
            }
          }
          tbody{
            width: 100%;
            tr{
              width: 100%;
              td{
                color:@escola_azul_texto;
                .asap(14px);
                padding: 4px;
              }
            }
          }
        }
        h3{
          background: @azul_escuro;
          color:#fff;
          .asap(14px, bold);
          text-transform: uppercase;
          padding: 6px;
        }
        .cke{
          padding: 10px;
        }
      }
    }
  }
}
