@import '../vars.less';

.conteudo-eventos{

  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 0;

  h1{
    .lato(36px, 300);
    color:@azul_texto;
    display: block;
    margin-bottom: 20px;
  }

  h2{
    .lato(18px, 300);
    color:@azul_texto;
    display: block;
    margin-bottom: 3px;
  }

  .lista-proximos-juramentos{
    background: @escola_azul_submit;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 0;
    margin-bottom: 40px;
    h1{
      .lato(36px, 300);
      color:@azul_escuro;
      width: 25%;
      .inline;
      @media @medium{
        width: 100%;
      }
      @media @small{
        width: 100%;
      }
    }
    ul{
      width: 75%;
      .inline;
      @media @medium{
        width: 100%;
      }
      @media @small{
        width: 100%;
      }
      li{
        display: block;
        margin-bottom: 10px;
        a{
          display: block;
          box-sizing: border-box;
          padding: 10px;
          background: @azul_escuro;
          border: 1px @azul_escuro solid;
          transition: all .3s ease-in;
          p{
            transition: all .3s ease-in;
            color:@escola_azul_submit;
            .asap(13px, 300);
            strong{
              margin-top: 7px;
              display: block;
              font-size: 20px;
              font-weight: bold;
            }
          }
          &:active, &:visited{}
          &:hover{
            background: #fff;
            p{color:@azul_escuro;}
          }
        }
      }
    }
  }

  .lista-proximos-eventos{
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 0;
    li{
      .inline;
      width: 50%;
      margin-bottom: 10px;
      box-sizing: border-box;
      padding-right: 40px;
      @media @small{
        width: 100%;
        padding-right: 0px;
      }
      a{
        display: block;
        padding: 10px;
        background: @azul_fundo;
        transition: all .3s ease-in;
        .imagem{
          img{
            max-width: 100%;
          }
          padding-bottom: 20px;
        }
        .texto{
          .data{
            text-transform: uppercase;
            .asap(20px, bold);
            color:@azul_texto;
          }
          h2{
            margin-top: 5px;
            .lato(20px, 300);
            color:@azul_texto;
          }
        }
        &:hover{background:@escola_azul_submit;}
      }
    }
  }

  .nenhum-evento{
    padding: 15px;
    display: block;
    text-align: center;
    line-height: 130%;
    .asap(14px, bold);
    color:@azul_escuro;
    background: @azul_fundo;
  }

  .lista-eventos-passados{
    margin-top: 15px;
    li{
      display: block;
      margin-bottom: 3px;
      padding-right: 40px;
      a{
        display: block;
        height: 30px;
        line-height: 30px;
        transition: all .3s ease-in;
        background:@azul_fundo;
        .texto{
          .data{
            .asap(14px);
            float:left;
            height: 30px;
            line-height: 30px;
            .inline;
            padding: 0 20px;
            color:@azul_escuro;
            box-sizing: border-box;
            min-width: 115px;
            text-transform: uppercase;
          }
          h2{
            .asap(14px, bold);
            color:@azul_escuro;
          }
        }
        &:hover{
          background: @escola_azul_submit;
        }
      }
      @media @medium{
        a, .data {
          height: auto !important;
          line-height: 1.1 !important;
        }
        h2, .data { padding: 10px 20px !important; }
        h2 { padding-left: 0 !important; }
      }
      @media @small{
        padding-right: 0;
        a, .data {
          height: auto !important;
          line-height: 1.1 !important;
        }
        h2, .data { padding: 10px 20px !important; }
        a .texto .data {
          display: block;
          float: none;
          padding-bottom: 0 !important; }
      }
    }
  }

  aside{
    .inline;
    width: 37%;
    box-sizing: border-box;
    padding-right: 40px;
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
    ul{
      margin: 10px 0 20px 0;
      li{
        display: block;
        margin-bottom: 3px;
        a{
          padding: 10px;
          display: block;
          background: @azul_fundo;
          transition: all .3s ease-in;
          .data{
            .asap(11px, bold);
            color: @azul_escuro;
            display: block;
            margin-bottom: 5px;
          }
          .titulo{
            .asap(16px);
            color: @azul_escuro;
          }
          &:hover, &.ativo{
            background: @escola_azul_submit;
          }
        }
      }
    }
  }

  section{
    .inline;
    width: 63%;
    @media @small{
      width: 100%;
      padding-right: 0px;
      margin-top: 30px;
    }
    .imagem{
      padding: 10px;
      background: @escola_azul_submit;
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 730px;
      }
    }
    .titulo{
      background: @azul_escuro;
      padding: 12px 20px;
      h2{
        color:@escola_azul_submit;
        .asap(14px);
      }
      h1{
        padding: 0;
        margin: 10px 0 0 0;
        .asap(24px, bold);
        color:#fff;
        line-height: 140%;
      }
    }
    h3{
      line-height: 150%;
      background: @azul_fundo;
      padding: 5px 20px;
      display: block;
      .asap(16px);
      font-style: italic;
      color:@azul_texto;
    }
    .texto{
      padding: 20px 0;
      .asap(14px);
      color:@azul_texto;
      p{
        line-height: 150%;
      }
    }
    h4{
      .lato(16px, 300);
      color:@azul_texto;
      margin-bottom: 10px;
    }
    .lista-imagens{
      margin-bottom: 15px;
      li{
        .inline;
        width: 13%;
        margin: 0 5px 5px 0;
        a{
          border: 1px @azul_texto solid;
          display:block;
          img{
            max-width: 100%;
          }
        }
      }
    }
  }

}
