@import '../vars.less';

.conteudo-fale-conosco {
  font-size: 0;
  padding-bottom: 50px;
  padding-top: 20px;
  #lista-unidades{
    a{
      width: 40%;
      margin-bottom: 5px;
      @media @small{
        
        width: 49%;
      }
    }
  }
  h1.main-title{
    .lato(36px, 300);
    text-transform: uppercase;
    color: @azul_escuro;
    margin-bottom: 30px;
  }
  p{
    color: @azul_escuro;
    .asap(14px);
    line-height: 170%;
    margin-bottom: 20px;
  }
  .colunas{
    .coluna{
      width: 50%;
      box-sizing: border-box;
      .inline;
      @media @small{
        width: 100%;
      }
    }
  }
  h2{
    .asap(14px, bold);
    color:@azul_escuro;
    margin-bottom: 10px;
  }
  form{
    p.resposta-form{
      margin: 15px 0;
      border: 1px @escola_azul_texto solid;
      color: @escola_azul_texto;
      display: block;
      width: 100%;
      box-sizing: border-box;
      .asap(16px);
      text-align: center;
      padding: 15px;
      &.erro{}
      &.sucesso{}
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea{
      .placeholder(#AAA);
      background: @cinza_claro;
      box-sizing: border-box;
      padding: 10px 15px;
      .asap(16px);
      color:@azul_escuro;
      display: block;
      width: 100%;
      margin-bottom: 4px;
    }
    input[type="text"],
    input[type="email"]{
      height: 40px;
      line-height: 40px;
    }
    textarea{
      height: 240px;
      line-height: 130%;
      overflow: auto;
      resize: none;
    }
    input[type="submit"]{
      height: 40px;
      line-height: 40px;
      color: @escola_azul_submit;
      background: @azul_escuro;
      .asap(16px, bold);
      .inline;
      padding: 0 20px;
      box-sizing: border-box;
      cursor: pointer;
      transition: all .3s ease-in;
      border: 1px @azul_escuro solid;
      &:hover{
        background: #fff;
        color: @azul_escuro;
      }
    }
  }
}
