@import '../vars.less';

.conteudo-home{
  font-size: 0;
  padding-bottom: 50px;
  section{
    width: 80%;
    .inline;
    h1{
      color:@azul_escuro;
      text-align: center;
      .lato(28px, light);
    }
    @media @medium{
      width: 100%;
    }
    @media @small{
      width: 100%;
    }
  }
  aside{
    width: 20%;
    .inline;
    box-sizing: border-box;
    padding-left:30px;
    @media @medium{
      width: 100%;
      padding-left: 0;
    }
    @media @small{
      width: 100%;
      padding-left: 0;
    }
  }
}

#banners{
  position: relative;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  .inline;
  .banner{
    height: 400px;
    a{ display: block; }
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  #banners-pager{
    z-index: 999;
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: right;
    font-size: 0;
    span{
      .inline;
      width: 35px;
      height: 10px;
      margin-left: 4px;
      background:#979C98;
      font-size: 0;
      cursor: pointer;
      transition: all .3s ease-in;
      &.cycle-pager-active{background:#fff;}
    }
  }
  @media @medium{
    width: 100%;
    height: 316px;
    padding-right: 0px;
    margin-bottom: 10px;
    .banner{
      height: 316px;
    }
  }
  @media @small{
    width: 100%;
    height: 186px;
    padding-right: 0px;
    margin-bottom: 10px;
    .banner{
      height: 186px;
    }
  }
}

#chamada-cursos{
  h1{
    .lato(20px, 300);
    color: @escola_azul_texto;
    line-height: 115%;
    padding: 20px 0 10px 0;
  }
  h2{
    .asap(20px, bold);
    font-style: italic;
    color: @escola_azul_texto;
    line-height: 130%;
  }
  p{
    .asap(12px);
    color: @escola_azul_texto;
    line-height: 130%;
    margin-bottom: 5px;
  }
}

#chamadas{
  .inline;
  margin-top: 10px;
  margin-bottom: 45px;
  width: 100%;
  @media @medium{
    text-align: center;
  }
  @media @small{
    text-align: center;
  }
  .chamada{
    .inline;
    width: 32%;
    &:nth-child(2){
      margin: 0 2%;
    }
    @media @medium{
      margin: 0 40px;
    }
    @media @small{
      width: 49%;
      &:nth-child(2){
        margin: 0 0 0 .5%;
      }
      &:last-child{
        width: 100%;
        margin-top: 5px;
      }
    }

    .over{
      top: 50%;
      transform: translateY(-50%);
      h1{
        margin-bottom: 20px;
      }
      h1, h2{
        text-align: center;
        padding: 0 10px;
      }
    }

    img{
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    a{
      display: block;
      height: 195px;
      position: relative;
      @media @small {
        height: 139px;
      }
      span.titulo{
        position: absolute;
        z-index: 9;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 15px;
        height: 20px;
        line-height: 20px;
        background:#343233;
        color: #fff;
        white-space: nowrap;
        .asap(12px);
      }
      .over{
        position: absolute;
        width: 100%;
        h1{
          line-height: 130%;
          color:#fff;
          .asap(20px, bold);
        }
        h2{
          line-height: 130%;
          color:#fff;
          .asap(16px, bold);
        }
      }
      &:after{
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 8px @azul_claro solid;
        transition: all .3s ease-in-out;
        opacity:0;
      }
      &:hover:after{
        opacity: 1;
      }
    }
  }
}

#box-central-atendimento{
  text-align: center;
  min-height: 195px;
  box-sizing: border-box;
  padding-top: 100px;
  background: url('../img/layout/img-centralAtendimento.png') @azul_medio center top no-repeat;
  h2{
    .lato(12px, light);
    color:#fff;
  }
  span.telefone{
    color:#fff;
    display: block;
    margin: 4px 0;
    .asap(42px, bold);
    small{
      font-size: 32px;
    }
  }
  p{
    .asap(12px, bold);
    color:@escola_azul_rodape;
  }
}

#menu-cursos{
  margin: 20px 0 30px 0;
  li{
    display: block;
    a{
      text-transform: uppercase;
      .asap(20px, bold);
      font-style: italic;
      color:#fff;
      display: block;
      width: 100%;
      line-height: 105%;
      box-sizing: border-box;
      padding: 12px;
      transition: all .3s ease-in-out;
      &:active, &:visited{color:#fff;}
      &:hover{
        background: #fff !important;
        color: @escola_azul_texto;
        border-color: @escola_azul_marcacao !important;
      }
    }
    @media @medium{
      .inline;
      width: 50%;
      &:last-child:nth-child(odd){
        width: 100%;
        text-align: center;
      }
    }
  }
}

#lista-unidades{
  padding: 15px 0 35px 0;
  @media @small { padding-bottom: 0; }
  a{
    .inline;
    width: 19.2%;
    margin-right: 1%;
    padding: 10px;
    box-sizing: border-box;
    transition: background .3s ease-in;
    &:last-child{
      margin-right:0;
    }
    img{
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    span{
      display: block;
      text-align: center;
      .asap(12px, bold);
      color:#fff;
      transition: color .3s ease-in;
      &.titulo{
        margin: 6px 0;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    &:hover{
      background:#fff !important;
    }

    @media @small{
      width: 49.5%;
      margin-right: .5%;
      margin-bottom: 2px;
      &:nth-child(even){margin-right: 0;}
    }
  }
}

.link-ouvidoria{
  width: 32%;
  @media @small { display: none !important; }
  .inline;
  position: relative;
  &:after{
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px @azul_claro solid;
    transition: all .3s ease-in-out;
    opacity:0;
  }
  &:hover:after{opacity:1;}
  @media @medium{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  @media @small{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
}

#convenios{
  width: 68%;
  @media @small { display: none !important; }
  .inline;
  box-sizing: border-box;
  padding-left: 20px;
  .box{
    box-sizing: border-box;
    padding: 20px;
    background: #E6E6E6;
    h2{
      .asap(16px, bold);
      color:@azul_escuro;
      display: block;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .grid{
      font-size:0;
      .cell{
        .inline;
        width: 33%;
        box-sizing: border-box;
        position: relative;
        &.image-cell{
          padding: 20px;
        }
        img{
          display: block;
          max-width: 100%;
          margin-top: 40px;
        }
        iframe{
          margin: 0 auto;
          display: block;
          width: 153px;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  @media @medium{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
  }
  @media @small{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

#depoimento{
  margin-top: 35px;
  width: 100%;
  background:@escola_azul_medio;
  .padding{
    padding: 10px;
    box-sizing: border-box;
  }
  h2{
    .lato(16px, light);
    color:@escola_cinza_escuro;
    margin-bottom: 10px;
  }
  .imagem{
    margin: 0 0 10px 0;
    border: 5px @azul_escuro solid;
    width: 100%;
    box-sizing: border-box;
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  p{
    .asap(14px);
    line-height: 140%;
    color:@azul_escuro;
  }
  p.assinatura{
    font-size: 12px;
    margin-top: 15px;
  }
  p.sobre{
    font-size: 10px;
  }
  a{
    padding: 10px;
    color:@escola_cinza_escuro;
    height: 35px;
    line-height: 15px;
    box-sizing: border-box;
    .asap(10px, bold);
    display: block;
    transition: all .3s ease-in-out;
    &:active, &:visited{}
    &:hover{
      background-color: @azul_escuro;
      color:#fff;
    }
  }
}
