@import '../vars.less';

.conteudo-novidades{
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 0;
  h1{
    .lato(36px, 300);
    text-transform: uppercase;
    color: @azul_escuro;
    margin-bottom: 20px;
    nav {
      display: inline-block;
      margin-left: 20px;
      @media @small {
        margin-left: 0;
        display: block;
      }
      a {
        display: inline-block;
        vertical-align: bottom;
        .asap(15px, bold);
        border: 1px solid @azul_escuro;
        padding: 6px 18px;
        text-transform: lowercase;
        @media @small {
          font-size: 14px;
          padding: 5px 12px;
        }
        &.active {
          background: @escola_azul_rodape;
        }
      }
    }
  }

  ul.lista-novidades{
    font-size:0;
    li{
      .inline;
      width: 50%;
      box-sizing: border-box;
      padding-right: 40px;
      margin-bottom: 10px;
      @media @small{
        width: 100%;
        padding-right: 0px;
      }
      a{
        display: block;
        transition: all .3s ease-in;
        background: @azul_fundo;
        .imagem{
          float: left;
          padding: 10px;
          background:@azul_claro;
          margin-right: 20px;
          img{
            display: block;
            max-width: 150px;
            width: 100%;
            max-height: 180px;
          }
        }
        .texto{
          padding: 10px 20px;
          min-height: 94px;
          .data{
            text-transform: uppercase;
            .asap(11px, bold);
            color:@azul_escuro;
          }
          h2{
            display: block;
            margin-top: 15px;
            .asap(20px);
            color:@azul_escuro;
          }
        }
        &:active, &:visited{
          .texto .data, .texto h2{color:@azul_escuro;}
        }
        &:hover{
          background: @escola_azul_submit;
        }
      }
    }
  }

  aside{
    .inline;
    width: 37%;
    box-sizing: border-box;
    padding-right: 40px;
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
    h2{
      .lato(18px, 300);
      color:@azul_texto;
      display: block;
      padding: 20px 0 10px 0;
    }
    ul{
      margin: 0 0 20px 0;
      li{
        display: block;
        margin-bottom: 3px;
        a{
          padding: 10px;
          display: block;
          background: @azul_fundo;
          transition: all .3s ease-in;
          .data{
            .asap(11px, bold);
            color: @azul_escuro;
            display: block;
            margin-bottom: 5px;
          }
          .titulo{
            .asap(16px);
            color: @azul_escuro;
          }
          &:hover, &.ativo{
            background: @escola_azul_submit;
          }
        }
      }
    }
  }

  section{
    .inline;
    width: 63%;
    box-sizing: border-box;
    @media @small{
      width: 100%;
      margin-top: 30px;
    }
    .imagem{
      padding: 10px;
      background: @escola_azul_submit;
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 730px;
      }
    }
    .titulo{
      background: @azul_escuro;
      padding: 12px 20px;
      h2{
        color:@escola_azul_submit;
        .asap(14px);
      }
      h1{
        padding: 0;
        margin: 10px 0 0 0;
        .asap(24px, bold);
        color:#fff;
        line-height: 140%;
      }
    }
    h3{
      line-height: 150%;
      background: @azul_fundo;
      padding: 5px 20px;
      display: block;
      .asap(16px);
      font-style: italic;
      color:@azul_texto;
    }
    .texto{
      padding: 20px 0;
      .asap(14px);
      color:@azul_texto;
      p{
        line-height: 140%;
      }
    }
    .novidades-estagios{
      h1 {
        margin-top: 40px;
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        display: block;
        background: url('../img/layout/ico-download.png') no-repeat 15px center;
        padding: 20px 10px 20px 72px;
        transition: background .3s;
        color: @azul_escuro;
        span:first-child {
          .asap(20px, bold);
          display: inline-block;
          width: 170px;
          text-transform: uppercase;
          @media @small { display: block; }
          @media @medium { display: block; }
        }
        &:hover {
          background-color: @escola_azul_rodape;
        }
      }
    }
  }

}
