@import '../vars.less';

.conteudo-ouvidoria {
  font-size: 0;
  padding-bottom: 50px;
  padding-top: 20px;
  aside {
    .inline;
    width: 20%;
    box-sizing: border-box;
    padding-right: 30px;
    @media @medium{
      width: 100%;
      padding-right: 0px;
    }
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
  }
  section {
    .inline;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
    @media @medium{
      width: 100%;
    }
    @media @small{
      width: 100%;
    }
    h1.main-title{
      .lato(36px, 300);
      text-transform: uppercase;
      color: @azul_escuro;
      margin-bottom: 30px;
    }
    .cke{
      p{
        color: @azul_escuro;
        .asap(14px);
        line-height: 170%;
        margin-bottom: 20px;
      }
    }
    .colunas{
      .coluna{
        width: 50%;
        @media @medium{
          width: 100%;
        }
        @media @small{
          width: 100%;
        }
        box-sizing: border-box;
        .inline;
        &:first-child{
          padding-right: 35px;
        }
      }
    }
    h2{
      .asap(14px, bold);
      color:@azul_escuro;
      margin-bottom: 10px;
    }
    form{
      p.resposta-form{
        margin: 15px 0;
        border: 1px @escola_azul_texto solid;
        color: @escola_azul_texto;
        display: block;
        width: 100%;
        box-sizing: border-box;
        .asap(16px);
        text-align: center;
        padding: 15px;
        &.erro{}
        &.sucesso{}
      }
      input[type="text"],
      input[type="email"],
      select,
      textarea{
        .placeholder(#AAA);
        background: @cinza_claro;
        box-sizing: border-box;
        padding: 10px 15px;
        .asap(16px);
        color:@azul_escuro;
        display: block;
        width: 100%;
        margin-bottom: 4px;
      }
      input[type="text"],
      input[type="email"]{
        height: 40px;
        line-height: 40px;
      }
      textarea{
        height: 240px;
        line-height: 130%;
        overflow: auto;
        resize: none;
      }
      input[type="submit"]{
        height: 40px;
        line-height: 40px;
        color: @escola_azul_submit;
        background: @azul_escuro;
        .asap(16px, bold);
        .inline;
        padding: 0 20px;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .3s ease-in;
        border: 1px @azul_escuro solid;
        &:hover{
          background: #fff;
          color: @azul_escuro;
        }
      }
    }
  }
}
