@import '../vars.less';

.conteudo-perguntas-frequentes{
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 0;
  h1{
    .lato(36px, 300);
    text-transform: uppercase;
    color: @azul_escuro;
    margin-bottom: 35px;
  }

  aside{
    width: 37%;
    .inline;
    box-sizing: border-box;
    padding-right: 50px;
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
    ul{
      width: 100%;
      display: block;
      li{
        width: 100%;
        display: block;
        margin-bottom: 5px;
        a{
          text-transform: uppercase;
          height: 48px;
          line-height: 48px;
          box-sizing: border-box;
          padding: 0px 15px;
          transition: all .3s ease-in;
          background: @azul_fundo;
          .asap(16px);
          width: 100%;
          display: block;
          color:@azul_escuro;
          position: relative;
          @media @medium{
            font-size: 13px;
          }
          &:hover{
            color:@azul_escuro;
            background: @escola_azul_submit;
          }
          &.aberto{
            background: @escola_azul_submit;
          }
          &:after{
            content:"";
            display: block;
            background: url('../img/layout/seta-azul.png') center center no-repeat;
            width: 24px;
            height: 48px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  section{
    width: 63%;
    .inline;
    @media @small{
      width: 100%;
      padding-right: 0px;
      margin-top: 40px;
    }
    .secao-faq{
      display: none;
      .questao{
        display: block;
        margin-bottom: 4px;
        a.faq-title{
          background: url('../img/layout/seta-branca.png') @azul_claro left center no-repeat;
          box-sizing: border-box;
          min-height: 45px;
          line-height: 25px;
          padding: 10px 18px;
          .asap(18px, bold);
          font-style: italic;
          color:#fff;
          display: block;
          width: 100%;
          margin: 0;
          position: relative;
          transition: all .3s ease-in;
          &:after{
            content: "";
            display: block;
            width: 45px;
            height: 45px;
            position: absolute;
            top: 0;
            right: 0;
            background: url('../img/layout/sinal-mais.png') center center no-repeat;
          }
          &:hover{
            color:@escola_azul_submit;
          }
        }
        .resposta{
          overflow: hidden;
          transition: all .3s ease-in;
          height: 0;
          opacity: 0;
          .cke{
            box-sizing: border-box;
            width: 100%;
            padding: 10px 15px;
            p{
              .asap(14px);
              color: @escola_azul_texto;
              line-height: 150%;
              margin: 0 0 15px 0;
            }
          }
        }

        &.aberto{
          a.faq-title{
            color:@escola_azul_submit;
          }
          .resposta{
            opacity: 1;
            height: auto;
          }
        }
      }

      &.aberto{
        display: block;
      }
    }
  }
}
