@import '../vars.less';

.conteudo-trabalhe-conosco {
  font-size: 0;
  padding-bottom: 50px;
  padding-top: 20px;
  aside {
    .inline;
    width: 20%;
    box-sizing: border-box;
    padding-right: 30px;
    @media @medium{
      width: 100%;
      padding-right: 0px;
    }
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
  }
  section {
    .inline;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
    @media @medium{
      width: 100%;
    }
    @media @small{
      width: 100%;
    }
    h1.main-title{
      .lato(36px, 300);
      text-transform: uppercase;
      color: @azul_escuro;
      margin-bottom: 30px;
    }
    .cke{
      p{
        color: @azul_escuro;
        .asap(14px);
        line-height: 170%;
        margin-bottom: 20px;
      }
    }
  }
}
