@import '../vars.less';

.conteudo-unidades{
  font-size:0;
  padding-bottom: 50px;
  padding-top: 20px;
  aside{
    .inline;
    width: 20%;
    box-sizing: border-box;
    padding-right: 30px;
    h1{
      .lato(20px, 300);
      color:@escola_azul_texto;
      line-height: 135%;
    }
    h2{
      .asap(20px, bold);
      font-style: italic;
      color:@escola_azul_texto;
      margin: 15px 0 5px 0;
    }
    #lista-unidades{
      a{
        width: 100%;
        margin: 0 0 5px 0;
        @media @medium{
          width: 50%;
        }
        @media @small{
          width: 50%;
        }
      }
    }
    @media @medium{
      width: 100%;
      padding-right: 0px;
    }
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
  }
  section{
    .inline;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
    @media @medium{
      width: 100%;
    }
    @media @small{
      width: 100%;
    }
    #lista-unidades-box{
      margin-top: 30px;
      .unidade-box{
        .inline;
        box-sizing: border-box;
        width: 24.25%;
        margin-right: 1%;
        &:nth-child(4){margin-right:0;}
        @media @small{
          width: 100%;
          margin: 0;
        }
        .unidade-box-item{
          display: block;
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 7px;
          margin-bottom:4px;
        }
        .unidade-box-endereco{
          padding: 20px;
          min-height: 294px;
          position: relative;
          h1{
            .asap(12px,bold);
            color:#fff;
          }
          h2{
            .asap(22px,bold);
            color:#fff;
            margin: 4px 0 6px 0;
          }
          p{
            line-height:140%;
            .asap(15px,bold);
            color:#fff;
          }
          a{
            position: absolute;
            bottom: 20px;
            left: 20px;
            display: block;
            margin-top: 10px;
            line-height: 30px;
            .asap(14px, bold);
            color: #fff;
            img{
              .inline;
              vertical-align: -8px;
            }
            span{
              transition: opacity .3s ease-in;
              opacity: 0.6;
              margin-left: 10px;
            }
            &:hover span{opacity:1;}
          }
        }
        .unidade-box-horario{
          color:#fff;
          padding: 20px;
          .asap(14px);
          h2{
            font-weight: bold;
            margin-bottom: 4px;
          }
          p{
            line-height: 130%;
          }
        }
        .unidade-box-link{
          transition: all .3s ease-in;
          p{
            padding:5px;
            .asap(12px, bold);
            color:#fff;
            transition: all .3s ease-in;
          }
          img{
            max-width: 100%;
            display: block;
            margin: 5px auto 0 auto;
          }
          &:hover{
            background:#fff !important;
          }
        }
      }
    }

    .unidades-colunas{
      font-size: 0;
      .unidades-coluna{
        .inline;
        width:49%;
        &:first-child{margin-right:2%;}
        @media @small{
          width: 100%;
          margin: 0 0 10px 0;
        }
        .unidades-detalhe-box{
          border-radius: 8px;
          padding: 20px;
          box-sizing: border-box;
          width: 100%;
          h2{
            color:#fff;
            .asap(12px, bold);
          }
          h1{
            color:#fff;
            .asap(36px, bold);
            margin: 15px 0;
            text-transform: uppercase;
          }
          img{
            display: block;
            margin: 0 auto;
          }
          .coluna-endereco{
            .inline;
            box-sizing: border-box;
            width: 50%;
            padding: 10px;
            .asap(14px, bold);
            color:#fff;
            a{
              display: block;
              margin-top: 10px;
              line-height: 30px;
              .asap(14px, bold);
              color: #fff;
              img{
                .inline;
                vertical-align: -8px;
              }
              span{
                transition: opacity .3s ease-in;
                opacity: 0.6;
                margin-left: 10px;
              }
              &:hover span{opacity:1;}
            }
          }
          .coluna-horario{
            .inline;
            box-sizing: border-box;
            width: 50%;
            padding: 10px;
            .asap(12px);
            color: #fff;
            line-height:140%;
            strong{
              display:block;
              font-weight: bold;
            }
          }
          h3{
            margin: 25px 0 15px 0;
            .asap(20px, bold);
            color:#fff;
          }
          a{
            .asap(16px, 300);
            color:#fff;
            display:block;
            margin: 0 0 5px 0;
            transition: all .3s ease-in;
            &:active, &:visited{color:#fff;}
            &:hover{color:@escola_azul_marcacao;}
            strong{
              text-transform: uppercase;
            }
          }

        }
        .unidades-detalhe-topicos{
          h1{
            display: block;
            padding: 20px 20px 10px 10px;
            color:@azul_escuro;
            .asap(16px, bold);
          }
          .topico{
            display: block;
            margin-bottom: 2px;
            h2{
              width: 100%;
              box-sizing: border-box;
              padding: 0 20px;
              height: 25px;
              line-height: 25px;
              color:#fff;
              transition: all .3s ease-in;
              cursor:pointer;
              .asap(16px);
            }
            .texto{
              width: 100%;
              box-sizing: border-box;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 15px;
              padding-right: 15px;
              overflow:hidden;
              line-height: 160%;
              .asap(14px);
              color:@escola_azul_texto;
              max-height: 0;
              transition: all .3s ease-in-out;
              p{
                margin-bottom: 15px;
              }
              ul{
                list-style: inside disc;
              }
            }
            &:hover{
              h2{
                color:@azul_escuro;
                background: #fff !important;
              }
            }
            &.ativo{
              h2{
                color:@azul_escuro;
                background: #fff !important;
              }
              .texto{
                padding: 10px 15px 20px 15px;
                max-height: 7000px;
              }
            }
          }
        }
      }
    }

    .unidades-galeria{
      font-size:0;
      margin: 10px 0;
      a{
        .inline;
        width: 24.25%;
        margin-right: 1%;
        margin-bottom: 5px;
        &:nth-child(4n){margin-right: 0;}
        img{
          display: block;
          width: 100%;
          margin:0 auto;
          opacity: 0.7;
          transition: all .3s ease-in;
        }
        &:hover{
          img{
            opacity:1;
          }
        }
      }
    }
  }
}
