.teste-vocacional-header .logo {
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
    background: #095686;
    background: -moz-linear-gradient(top, #095686 0%, #272a46 100%);
    background: -webkit-linear-gradient(top, #095686 0%,#272a46 100%);
    background: linear-gradient(to bottom, #095686 0%,#272a46 100%);
}

.teste-vocacional-header .logo a {
    content: '';
    width: 258px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/layout/marca-faculdade-sequencial.png') no-repeat center;
}

.teste-vocacional-header .titulo {
    width: 100%;
    background: #CAFF73;
    text-align: center;
    padding: 15px 0;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #060064;
}

.teste-vocacional-wrapper {
    width: 100%;
    overflow: hidden;
}

.teste-vocacional-conteudo {
    width: 640px;
    margin: 50px auto 85px;
    font-family: Asap, sans-serif;
}

.teste-vocacional-conteudo * {
    box-sizing: border-box;
}

.teste-vocacional-conteudo p { line-height: 1.5; }

.teste-vocacional-conteudo .erros,
.teste-vocacional-conteudo .enviado {
    background: #bb1f1f;
    padding: 18px;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.5;
}

.teste-vocacional-conteudo .enviado {
    background: #1fbb73;
    margin-bottom: 25px;
}

.teste-vocacional-index p {
    font-size: 16px;
    text-align: center;
    margin: 0 0 25px;
    color: #095686;
}

.teste-vocacional-index h3 {
    font-size: 22px;
    font-weight: bold;
    color: #095686;
    margin-bottom: .6em
}

.teste-vocacional-index input {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    background: #E2ECE8;
    font-size: 16px;
    padding: 18px;
    color: #095686;
    outline: 0;
}

.teste-vocacional-conteudo .teste-vocacional-botao {
    width: 100%;
    padding: 22px;
    text-align: center;
    display: block;
    margin-top: 12px;
    background: #095686;
    color: #CAFF73;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: color .3s, background .3s;
    line-height: 1.2;
    outline: 0;
}

.teste-vocacional-conteudo .teste-vocacional-botao.teste-vocacional-botao-email {
    background: #CAFF73;
    color: #095686;
    border: 2px solid #CAFF73;
    font-size: 16px;
    margin-top: 20px;
}

.teste-vocacional-conteudo .teste-vocacional-botao.teste-vocacional-botao-email:hover {
    background: #fff;
}

.teste-vocacional-conteudo .teste-vocacional-botao:hover {
    color: #095686;
    background: #CAFF73;
}

.teste-vocacional-instrucoes h3 {
    font-size: 22px;
    font-weight: bold;
    color: #095686;
    text-align: center;
    margin-bottom: 30px;
}

.teste-vocacional-instrucoes p {
    text-align: center;
    font-size: 16px;
    color: #095686;
    margin: 1em auto;
    max-width: 525px;
}

.teste-vocacional-instrucoes p.small {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 55px;
}

.teste-vocacional-instrucoes p strong { font-weight: bold; }

.teste-vocacional-etapa h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: #095686;
    margin-bottom: 22px;
}

.teste-vocacional-etapa .teste-vocacional-botao {
    margin-top: 30px;
}

.teste-vocacional-etapa .erro { color: #bb1f1f !important; }

.teste-vocacional-etapa .questao {
    display: table;
    border: 1px solid #10AFFC;
    margin-top: -1px;
    width: 100%;
}

.teste-vocacional-etapa .questao * {
    display: table-cell;
}

.teste-vocacional-etapa .questao p {
    font-size: 16px;
    font-weight: bold;
    color: #095686;
    padding: 6px 20px;
}

.teste-vocacional-etapa .questao label {
    position: relative;
    width: 30px;
    color: #10AFFC;
    border-left: 1px solid #10AFFC;
}

.teste-vocacional-etapa .questao label input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.teste-vocacional-etapa .questao label span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    z-index: 2;
    transition: background .3s, color .3s;
}

.teste-vocacional-etapa .questao label input:checked ~ span {
    background: #10AFFC;
    color: #fff;
}

.teste-vocacional-resultado h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: #095686;
    line-height: 1.2;
}

.teste-vocacional-resultado h2 small {
    font-size: 16px;
}

.teste-vocacional-resultado table {
    width: 400px;
    margin: 30px auto 50px;
}

.teste-vocacional-resultado table td {
    border: 1px solid #10AFFC;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #095686;
}

.teste-vocacional-resultado table td:first-child {
    padding-left: 20px;
    padding-right: 20px;
}

.teste-vocacional-resultado table td:last-child {
    color: #10AFFC;
    text-align: center;
    width: 62px;
}

.teste-vocacional-resultado .inteligencia {
    background: #CAFF73;
    position: relative;
    padding: 40px 0;
    color: #060064;
    text-align: center;
}

.teste-vocacional-resultado .inteligencia p {
    font-style: italic;
    max-width: 630px;
    margin: 0 0 15px;
}

.teste-vocacional-resultado .inteligencia p:first-child {
    font-size: 16px;
    margin-bottom: 20px;
    font-style: normal;
}

.teste-vocacional-resultado .inteligencia p:last-child {
    margin-bottom: 0;
}

.teste-vocacional-resultado .inteligencia h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}


.teste-vocacional-resultado .inteligencia:before,
.teste-vocacional-resultado .inteligencia:after {
    content: '';
    position: absolute;
    width: 2000px;
    height: 100%;
    right: 100%;
    top: 0;
    background: #CAFF73;
}

.teste-vocacional-resultado .inteligencia:after {
    right: auto;
    left: 100%;
}

.teste-vocacional-resultado .ocupacoes {
    background: #E2ECE8;
    position: relative;
    padding: 40px 0;
    text-align: center;
    color: #095686;
}

.teste-vocacional-resultado .ocupacoes p {
    font-size: 16px;
    margin-bottom: 22px;
}

.teste-vocacional-resultado .ocupacoes li {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
}

.teste-vocacional-resultado .ocupacoes:before,
.teste-vocacional-resultado .ocupacoes:after {
    content: '';
    position: absolute;
    width: 2000px;
    height: 100%;
    right: 100%;
    top: 0;
    background: #E2ECE8;
}

.teste-vocacional-resultado .ocupacoes:after {
    right: auto;
    left: 100%;
}

.teste-vocacional-resultado p.referencias {
    font-size: 11px;
    color: #095686;
    margin: 12px 0 50px;
    text-align: center;
}


/* mobile */
@media (max-width: 768px) {
    .teste-vocacional-header .logo { height: 90px; }
    .teste-vocacional-header .logo a {
        width: 200px;
        background-size: 100% auto;
    }
    .teste-vocacional-header .titulo {
        font-size: 16px;
        padding: 10px 0;
        line-height: 1.2;
    }
    .teste-vocacional-conteudo {
        width: 90%;
        margin: 25px auto 45px;
    }
    .teste-vocacional-index p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .teste-vocacional-index h3 {
        font-size: 20px;
    }
    .teste-vocacional-index input {
        font-size: 15px;
        padding: 12px;
    }
    .teste-vocacional-conteudo .teste-vocacional-botao {
        padding: 16px;
        font-size: 18px;
        margin-top: 5px;
    }
    .teste-vocacional-instrucoes h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .teste-vocacional-instrucoes p {
        font-size: 15px;
    }
    .teste-vocacional-instrucoes p.small {
        margin-bottom: 30px;
    }
    .teste-vocacional-etapa h2 {
        font-size: 20px;
        margin-bottom: 15px;
        text-align: left;
    }
    .teste-vocacional-etapa .questao {
        display: block;
        margin-top: 0;
    }
    .teste-vocacional-etapa .questao:after {
        content: "";
        display: table;
        clear: both;
    }
    .teste-vocacional-etapa .questao + .questao {
        margin-top: 10px;
    }
    .teste-vocacional-etapa .questao p {
        display: block;
        width: 100%;
        border-bottom: 1px solid #10AFFC;
        padding: 6px 12px;
        font-size: 15px;
    }
    .teste-vocacional-etapa .questao label {
        display: block;
        width: 100%;
    }
    .teste-vocacional-etapa .questao label {
        height: 36px;
        width: 14.285%;
        float: left;
    }
    .teste-vocacional-etapa .questao label:nth-child(2) {
        border-left: 0;
    }
    .teste-vocacional-etapa .teste-vocacional-botao {
        margin-top: 20px;
    }
    .teste-vocacional-resultado h2 {
        font-size: 20px;
    }
    .teste-vocacional-resultado h2 small {
        font-size: 14px;
    }
    .teste-vocacional-resultado table {
        width: 100%;
        margin: 20px auto 35px;
    }
    .teste-vocacional-resultado table td {
        font-size: 15px;
    }
    .teste-vocacional-resultado table td:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    .teste-vocacional-resultado .inteligencia {
        padding: 25px 0;
    }
    .teste-vocacional-resultado .inteligencia h3 {
        font-size: 24px;
        margin-bottom: 2px;
    }
    .teste-vocacional-resultado .inteligencia p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .teste-vocacional-resultado .inteligencia p:first-child {
        font-size: 14px;
        margin-bottom: 14px;
    }
    .teste-vocacional-resultado .ocupacoes {
        padding: 25px 0;
    }
    .teste-vocacional-resultado .ocupacoes p {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .teste-vocacional-resultado .ocupacoes li {
        font-size: 16px;
    }
    .teste-vocacional-resultado p.referencias {
        margin-bottom: 35px;
    }
    .teste-vocacional-conteudo .teste-vocacional-botao.teste-vocacional-botao-email {
        font-size: 13px;
        margin-top: 10px;
    }
}
