@import '../vars.less';

.conteudo-a-faculdade{

  aside{
    .inline;
    width: 24%;
    padding-top: 25px;
    @media @small{
      width: 100%;
      display: block;
    }
    h1{
      color:@azul_texto;
      .lato(24px, 300);
      line-height: 100%;
    }
    ul{
      max-width: 240px;
      width: 100%;
      margin-top: 15px;
      @media @small{
        max-width: 100%;
      }
      li{
        display: block;
        border-bottom: 1px #4E7090 solid;
        @media @small{
          .inline;
          width: 100%;
        }
        a{
          display: block;
          height: 50px;
          line-height: 50px;
          .asap(18px, bold);
          font-style: italic;
          color:#fff;
          transition: all .3s ease-in;
          text-indent: 22px;
          .gradiente;
          &:active, &:visited{}
          &:hover, &.ativo{
            color:@verde;
          }
          @media @medium{
            font-size: 16px;
            text-indent: 0px;
            text-align: center;
          }
          @media @small{
            font-size: 22px;
            text-indent: 0px;
            text-align: center;
          }
        }
      }
    }
  }

  section{
    .inline;
    width: 76%;
    padding-top: 25px;
    padding-bottom: 40px;
    @media @medium{
      box-sizing: border-box;
      padding-left: 15px;
    }
    @media @small{
      display: block;
      width: 100%;
    }
    .coluna{
      .inline;
      width: 39%;
      @media @small{
        width: 100%;
      }
      padding-top: 37px;
      box-sizing: border-box;
      &.larga{
        padding-right: 40px;
        width: 61%;
        @media @medium{
          padding-right: 10px;
        }
        @media @small{
          padding-right: 0px;
          width: 100%;
        }
      }
    }
  }

  &.apresentacao{

    .texto-apresentacao{
      .cke{
        .asap(14px);
        line-height: 130%;
        color:@azul_texto;
      }
    }

    .chamada{
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        iframe,
        object,
        embed {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      padding: 30px;
      background: @verde;
      .lato(22px, 300);
      line-height: 140%;
      color:@azul_texto;
      margin-top:30px;
    }

    .lateral{
      img{
        display: block;
        max-width: 100%;
        margin: 0 auto 30px auto;
      }
    }


    ul.lista-downloads{
      margin: 20px 0;
      li{
        display: block;
        a{
          border: 1px #fff solid;
          padding: 5px;
          display: block;
          transition: all .3s ease-in;
          min-height: 32px;
          background: @azul_medio;
          img{
            float: left;
            margin: 0 15px 0 0;
            @media @medium{
              margin-right: 5px;
            }
          }
          .texto{
            color:#fff;
            line-height: 130%;
            .asap(16px);
            span{
              display: block;
              font-size: 10px;
            }
          }
          &:active, &:visited{}
          &:hover{
            background: #fff;
            border-color: @azul_medio;
            .texto{
              color: @azul_medio;
            }
          }
        }
      }
    }

  }

  &.localizacao{

    h2{
      display: block;
      font-weight: bold;
    }

    .texto-endereco{
      .asap(16px);
      color:@azul_escuro;
      line-height: 140%;
      span{
        display: block;
        font-size: 12px;
        margin-top: 20px;
      }
    }

    .texto-horario{
      .asap(16px);
      color:@azul_escuro;
      line-height: 140%;
    }

    .embed{
      border: 1px #53A2C8 solid;
      iframe{
        width: 100%;
        height: 310px;
      }
    }
  }

  &.infraestrutura{

    .card{
      padding: 30px 20px;
      background: #005789;
      h1{
        color:#fff;
        .asap(36px, bold);
        @media @medium{
          font-size: 20px;
        }
      }
      img{
        max-width: 100%;
        display: block;
        margin: 10px auto 20px auto;
      }
      .texto{
        .asap(14px);
        line-height: 150%;
        color: #fff;
      }
    }

    h2{
      .lato(16px, 300);
      color:@azul_banner;
    }

    .lista-albuns{
      margin: 5px 0 30px 0;
      li{
        display: block;
        margin-bottom: 2px;
        a{
          display: block;
          min-height: 25px;
          line-height: 25px;
          background: #005789;
          transition: all .3s ease-in;
          color:#fff;
          padding-left: 15px;
          box-sizing: border-box;
          .asap(15px);
          &:active, &:visited{
            color:#fff;
          }
          &:hover{
            color: #005789;
            background: @verde;
          }
        }
      }
    }

    .lista-imagens-sem-album{
      padding: 35px 0;
      li{
        .inline;
        width: 25%;
        a{
          display: block;
          padding: 5px;
          img{
            max-width: 100%;
            display: block;
            margin: 0 auto;
            border: 1px #fff solid;
            transition: all .3s ease-in;
          }
          &:hover img{
            border-color: #005789;
          }
        }
      }
    }
  }
}
