@import '../vars.less';

header{
  #menu-toggle{
    display: none;
    @media @small{
      display: block;
      float: right;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      text-align: center;
      margin-top: 30px;
      border: 2px #fff solid;
      border-radius: 4px;
      transition: all .3s ease-in;
      margin-right: 10px;
      .asap(14px);
      color:@verde;
    }
  }
  .links-topo{
    height: 40px;
    line-height: 40px;
    @media @small{
      height: auto;
    }
    background: @azul_claro;
    border-bottom: 1px #2C729E solid;
    .link-escola{
      width: 28%;
      float: left;
      @media @medium{
        width: 38%;
      }
      @media @small{
        display: block;
        width: 100%;
        float: none;
        text-align: center;
      }
      a{
        padding-left: 1000px;
        margin-left: -1000px;
        display: block;
        height: 40px;
        line-height: 40px;
        color:@verde;
        background-color: @azul_banner;
        transition: all .3s ease-in;
        padding-right: 10px;
        .asap(13px);
        @media @medium{
          font-size: 12px;
        }
        @media @small{
          padding-left: 0;
          margin-left: 0;
        }
        strong{
          font-weight: bold;
        }
        &:active, &:visited{
          color:@verde;
        }
        &:hover{
          background-color: @azul_escuro;
          color:#fff;
        }
      }
    }
    .item-topo{
      float: left;
      height: 40px;
      line-height: 40px;
      border-left: 1px #03A6CD solid;
      color: @verde;
      .asap(14px);
      @media @small{
        float:none;
        .inline;
        font-size: 13px;
      }
      a{
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        display: block;
        transition: all .3s ease-in;
        @media @small{
          padding: 0 7px;
        }
        &:hover{
          color: #fff;
          background-color: @azul_escuro;
        }
      }
      img{
        vertical-align: -8px;
      }
    }
    .info-telefone{
      padding: 0 10px;
      font-size: 12px;
      strong{
        font-weight: bold;
        font-size: 16px;
      }
      @media @medium{
        display: none;
      }
      @media @small{
        display: none;
      }
    }
    .link-biblioteca-online,
    .link-portal-aluno{
      img{
        margin-right: 5px;
      }
    }
    .link-facebook{
      img{
        vertical-align: -4px;
      }
    }
  }
  nav{
    .gradiente;
    height: 120px;
    @media @medium{
      height: auto;
    }
    @media @small{
      height: auto;
    }
    #link-home{
      .inline;
      padding: 0 15px 0 0;
      img{
        max-width: 100%;
        margin-top: 25px;
      }
      @media @medium{
        display: block;
        text-align: center;
      }
      @media @small{
        display: block;
        padding-bottom: 20px;
      }
    }
    .menu-principal{
      .inline;
      @media @medium{
        display: block;
        text-align: center;
      }
      @media @small{
        display: block;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in;
        opacity: 0;
        &.aberto{
          max-height: 700px;
          opacity: 1;
        }
      }
      li{
        .inline;
        height: 40px;
        padding: 20px;
        max-width: 135px;
        text-align: center;
        margin-top: 20px;
        @media @medium{
          margin-top: 10px;
        }
        @media @small{
          margin-top: 20px;
          margin-bottom: 20px;
          width: 49%;
          max-width: 100%;
          box-sizing: border-box;
        }
        a{
          .asap(16px, bold);
          color:#fff;
          display: block;
          transition: all .3s ease-in;
          line-height: 130%;
          &:active, &:visited{color:#fff;}
          &:hover, &.ativo{color:@verde;}
        }
        &.link-inscreva-se{
          padding-right:0;
          padding-left:0;
          a{
            background-color:#0078B0;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            @media @small{
              margin-top: -10px;
            }
            &:hover, &.ativo{
              color:@azul_medio;
              background-color: @verde;
            }
          }
        }
      }
    }
    .menus-secundarios{
      float:right;
      width: 240px;
      font-size: 0;
      @media @medium{
        width: 100%;
        float: none;
      }
      @media @small{
        width: 100%;
        float: none;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in;
        opacity: 0;
        &.aberto{
          max-height: 700px;
          opacity: 1;
        }
      }
      ul{
        width: 50%;
        padding-top: 29px;
        .inline;
        @media @medium{
          padding-top: 5px;
          padding-bottom: 20px;
        }
        @media @small{
          padding-top: 5px;
          padding-bottom: 20px;
          border-top: 1px #CBFF66 solid;
          margin-top: 10px;
        }
        li{
          @media @medium{
            .inline;
            width: 25%;
            text-align: center;
          }
          @media @small{
            text-align: center;
            margin: 10px 0;
          }
          a{
            line-height: 130%;
            transition: all .3s ease-in;
            color:#fff;
            .asap(13px);
            @media @small{
              font-size: 16px;
            }
            &:active, &:visited{color:#fff;}
            &:hover, &.ativo{color:@verde;}
          }
        }
      }
    }
  }
}

.conteudo{
  padding: 4px 0 0 0;
  min-height: 400px;
}

.link-regimento{
  .asap(14px, bold);
  transition: all .3s ease-in;
  color: @azul_escuro;
  .inline;
  padding: 3px 6px;
  background: #fff;
  margin-top: 5px;
  &:hover{
    background: @azul_escuro;
    color: #fff;
  }
}


.btn-voltar{
  padding: 0 19px;
  height: 28px;
  line-height: 28px;
  .inline;
  .asap(16px, bold);
  color:@verde;
  text-align: center;
  background: #005789;
  border:1px #005789 solid;
  transition: all .3s ease-in;
  cursor: pointer;
  &:hover{
    color:#005789;
    background:#fff;
  }
}

.cke{
  table{
    width: 100%;
    display: block;
    border-collapse: collapse;
    tr, td{border: 1px @azul_texto solid;}
    td{
      padding:4px;
    }
  }
  p{
    display: block;
    line-height: 130%;
    margin: 0 0 13px 0;
  }
  strong{ font-weight: bold; }
  em{ font-style: italic; }
  ul{ list-style: disc outside; padding-left: 20px; }
  ol{ list-style: decimal outside; padding-left: 20px; }
  li{
    margin: 3px 0;
    display: list-item;
  }
  a{
    font-weight: bold;
    text-decoration: underline;
    transition: color .3s ease-in;
    &:hover{
      color:@verde;
    }
  }
  img{
    max-width: 100%;
  }
}

ul.pagination{
  text-align: center;
  display: block;
  margin-top: 50px;
  li{
    .inline;
    a, span{
      margin: 0 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 100%;
      border: 1px #fff solid;
      color: @azul_medio;
      .asap(12px);
      text-align: center;
      display: block;
      transition: all .3s ease-in;
      &:active, &:disabled{color: @azul_medio;}
    }
    &.active a, &.active span{ border-color: @azul_medio; }
    &.disabled a, &.disabled span{display:none;}
    a:hover{
      background-color:@azul_medio;
      color:#fff;
    }
  }
}

#busca-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  width: 0;
  height: 0;
  z-index: 9999999999999;
  transition: opacity .3s ease-in;
  opacity: 0;
  form{
    position: relative;
    height: 60px;
    max-width: 910px;
    margin: 0 auto;
    margin-top: 70px;
    input[type="text"]{
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 10px 0 10px 50px;
      background: #fff;
      border-radius: 30px;
      .asap(20px);
      display: none;
      color:@azul_escuro;
    }
    input[type="submit"]{
      width: 28px;
      height: 28px;
      overflow: hidden;
      text-indent: -400px;
      background: url('../img/layout/ico-busca.png') center center no-repeat;
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 16px;
      display: none;
    }
  }
  &.aberto{
    opacity: 1;
    width: 100%;
    height: 100%;
    input[type="text"],
    input[type="submit"]{
      display: block;
    }
  }
}

.fancybox-overlay{
  z-index: 1600;
}

.fancybox-close {
  top: -36px;
  right: -13px;
  background: url('../img/layout/x-fechar.png') center center no-repeat;
  @media @small{
    top: 4px;
    right: -6px;
  }
  @media @medium{
    top: 4px;
    right: -6px;
  }
}

.fancybox-nav{
  width: 36px;
  height: 36px;
  transform: translateY(-50%);
  top: 50%;
  span{
    position: relative;
    top:0;
    left:0;
    display: block;
    visibility: visible !important;
  }
  &.fancybox-next{
    right: -55px;
    //@media @small{ right: 0; }
    //@media @medium{ right: 0; }
    span{
      background: url('../img/layout/seta-avancar.png') center center no-repeat;
    }
  }
  &.fancybox-prev{
    left: -55px;
    //@media @small{ left: 0; }
    //@media @medium{ left: 0; }
    span{
      background: url('../img/layout/seta-retroceder.png') center center no-repeat;
    }
  }
}

.fancybox-title{
  .asap(14px);
  color:@azul_texto;
  line-height: 130%;
}

#banner-telefone{
  margin: 25px auto 50px auto;
  height: 60px;
  width: 100%;
  max-width: 920px;
  border-radius: 30px;
  background: url('../img/layout/ico-central-atendimento.png') @azul_banner 20px center no-repeat;
  color:#fff;
  line-height: 60px;
  text-indent: 100px;
  .asap(24px);
  @media @small{
    background-position: -4px -4px;
  }
  strong{
    font-weight: bold;
    font-size: 36px;
  }
  .horario{
    margin-top: 12px;
    margin-right: 40px;
    text-indent: 0px;
    float: right;
    color:@verde;
    line-height: 130%;
    max-width: 150px;
    .asap(14px, bold);
  }
  @media @medium{
    font-size: 16px;
    height: auto;
    line-height: 160%;
    text-align: center;
    .horario{
      display: block;
      float:none;
      margin: 5px 0 0 0;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 5px 0;
      br{display: none;}
    }
  }
  @media @small{
    font-size: 16px;
    height: auto;
    line-height: 160%;
    text-align: center;
    .horario{
      display: block;
      float:none;
      margin: 5px 0 0 0;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 5px 0;
      br{display: none;}
    }
  }
}

#banner-whatsapp {
  display: block;
  max-width: 545px;
  text-align: center;
  background: url('../../escola/img/layout/ico-whataspp.png') no-repeat 35px center @azul_banner;
  color: #fff;
  padding: 12px 25px 12px 75px;
  margin: -40px auto 55px;
  .asap(22px);
  border-radius: 30px;
  span {
    .asap(30px, bold);
  }
  @media @small {
    font-size: 18px;
    span { font-size: 25px; }
  }
}

footer{
  background-color: @azul_medio;
  font-size: 0;
  .centralizar-reduzido {
    @media @large {
      max-width: 980px;
    }
  }
  .coluna{
    padding: 25px 0 20px 0;
    .inline;
    width: 20%;
    @media @small{
      padding: 10px 0;
      width: 50%;
      text-align: center;
    }
    &.coluna-larga{
      width:30%;
      @media @small{
        width: 100%;
        text-align: center;
      }
    }
    &.footer-info{
      p{
        margin-top: 20px;
        padding-left: 45px;
        display: block;
        color:#fff;
        .asap(12px);
        span{
          display: block;
          font-size: 16px;
          strong{
            font-size: 24px;
            font-weight: bold;
          }
        }
        &.telefone {
        background: url('../../escola/img/layout/ico-telefone.png') no-repeat left top;
        }
        &.whatsapp {
          background: url('../../escola/img/layout/ico-whataspp.png') no-repeat left top;
          margin-bottom:24px;
        }
      }
      .link-facebook{
        display: block;
        max-width: 86%;
        padding: 4px;
        box-sizing: border-box;
        .asap(10px);
        color: #fff;
        img{
          float:right;
          @media @small{
            margin-top: -6px;
          }
        }
      }
    }
    ul{

      li{
        display: block;
        margin: 5px 0;
        @media @small{
          margin: 15px 0;
        }
        a{
          display: block;
          .asap(14px);
          color:@verde;
          transition: all .3s ease-in;
          line-height: 100%;
          &:active, &:visited{color:@verde;}
          &:hover{color:#fff;}
        }
        &.li-busca{
          margin-top: 15px;
          img{
            margin-right: 5px;
            vertical-align: -10px;
          }
        }
      }
      &.destaque li a{
        font-weight: bold;
      }
    }
  }
  .assinatura{
    height: 30px;
    line-height: 30px;
    background-color: @azul_claro;
    text-align: center;
    color: @verde;
    .asap(10px);
    a{
      border-bottom: 1px transparent dotted;
      transition: all .3s ease-in;
      &:active, &:visited{color: @verde;}
      &:hover{
        border-bottom: 1px #fff dotted;
        color: #fff;
      }
    }
  }
}
