@import '../vars.less';

.conteudo-busca{

  h1{
    .lato(24px, 300);
    color: @azul_texto;
    display: block;
    padding: 20px 0 25px 0;
  }

  .lista-resultados{
    padding: 40px 0 50px 0;
    li{
      display: block;
      &:nth-child(even) a{background:@azul_fundo;}
      &:nth-child(odd) a{background:#FFF;}
      a{
        display: block;
        padding: 15px;
        transition: background .3s ease-in;
        h2{
          .inline;
          width: 30%;
          .asap(16px, bold);
          color: @azul_escuro;
          transition: color .3s ease-in;
        }
        .texto{
          .inline;
          width: 70%;
          h3{
            color:@azul_texto;
            transition: color .3s ease-in;
            .asap(16px);
            margin-bottom: 10px;
          }
          p{
            color:@azul_texto;
            transition: color .3s ease-in;
            line-height: 120%;
            .asap(14px);
          }
        }
        &:hover{
          background:@azul_escuro;
          h2, h3, p{color:#fff;}
        }
      }
    }
  }

  .nenhum-resultado{
    padding: 30px;
    display: block;
    text-align: center;
    line-height: 130%;
    .asap(16px);
    color:@azul_escuro;
    background: @azul_fundo;
    strong{
      font-weight: bold;
    }
  }

}
