@import '../vars.less';

.conteudo-cursos-pos-graduacao{
  p.entrada{
    .asap(16px);
    color:@azul_texto;
    line-height: 130%;
    text-align: center;
    width: 100%;
    max-width: 750px;
    margin: 20px auto 0 auto;
  }
  .faixa-azul{
    margin-top: 35px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color:#E3EDE9;
    h1{
      .lato(28px, 300);
      color: @azul_texto;
      text-align: center;
      margin-bottom: 30px;
    }
    ul{
      margin-bottom: 20px;
      li{
        display: block;
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
        a{
          height: 40px;
          line-height: 40px;
          text-align: center;
          display: block;
          border: 1px #E3EDE9 solid;
          .asap(20px);
          color:#fff;
          transition: all .3s ease-in;
          &:hover{
            background: #fff !important;
          }
        }
      }
    }
  }
  &.detalhes{
    padding-bottom: 40px;
    h1{
      .lato(28px, 300);
      color: @azul_texto;
      margin: 30px 0;
      text-align: center;
      display: block;
    }
    h2{
      height: 40px;
      line-height: 40px;
      .asap(20px);
      color: #fff;
      margin-bottom: 30px;
      text-align: center;
      display: block;
    }
    .detalhes-curso-pos{
      .coluna{
        .inline;
        width: 50%;
        @media @small{
          width: 100%;
        }
        padding-bottom: 30px;
        h3{
          line-height: 130%;
          .asap(16px, bold);
          @media @small{
            padding: 0 5px;
          }
        }
        .texto{
          margin-bottom: 20px;
          color:@azul_texto;
          .asap(14px);
          box-sizing: border-box;
          padding-right: 20px;
          @media @small{
            padding: 0 5px;
          }
        }
      }
    }
  }
}
