@import '../vars.less';

.conteudo-cursos-graduacao{

  aside{
    .inline;
    width: 24%;
    padding-top: 30px;
    box-sizing: border-box;
    padding-right: 50px;
    @media @medium{
      width: 30%;
      padding-right: 15px;
    }
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
    h2{
      .lato(24px, 300);
      color:@azul_texto;
      line-height: 130%;
    }
    ul{
      margin: 15px 0;
      display: block;
      li{
        display: block;
        @media @small{
          box-sizing: border-box;
          width: 50%;
          .inline;
        }
        a{
          display: block;
          height: 50px;
          line-height: 50px;
          .asap(18px, bold);
          font-style: italic;
          padding-left: 18px;
          color:#fff;
          transition: all .3s ease-in;
          @media @small{
            padding: 0;
            text-align: center;
          }
          &:active, &:visited{color:#fff;}
          &:hover{
            background: #fff !important;
          }
        }
      }
    }
  }
  section{
    .inline;
    width: 76%;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 30px;
    @media @medium{
      width: 70%;
    }
    @media @small{
      width: 100%;
    }
    ul li {
      display: inline-block;
      vertical-align: top;
      width: calc(~'50% - 10px');
      margin-right: 20px;
      margin-bottom: 20px;
      @media @medium {
        width: 100%;
        margin-right: 0;
      }
      @media @small {
        width: 100%;
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    ul li a, .card-curso {
      display: block;
      box-sizing: border-box;
      padding: 0 20px 20px;
      transition: all .3s ease-in;
      img{
        display: block;
        width: 100%;
        margin: 0;
      }
      .texto{
        width: 100%;
        box-sizing: border-box;
        padding: 15px 0 0;
        .prefixo{
          .asap(22px);
          transition: color .3s ease-in;
          color:#fff;
          @media @medium{
            font-size: 20px;
          }
          @media @small{
            font-size: 20px;
          }
        }
        .titulo{
          margin-top: 8px;
          transition: color .3s ease-in;
          .asap(36px, bold);
          color:#fff;
          @media @medium{
            font-size: 26px;
          }
          @media @small{
            font-size: 20px;
          }
        }
        .legislacao{
          color:#fff;
          transition: color .3s ease-in;
          margin-top: 15px;
          line-height: 1.3;
          .asap(10px);
          span{
            display: block;
          }
        }
      }
    }
    ul.lista-cursos li a:hover{
      background-color: #fff !important;
    }
    .curso-graduacao-detalhes {
      .coluna {
        display: inline-block;
        vertical-align: top;
        width: calc(~'50% - 17.5px');
        + .coluna {
          margin-left: 35px;
          @media @small { margin: 25px 0 0; }
          @media @medium { margin: 25px 0 0; }
        }
        @media @small { width: 100%; }
        @media @medium { width: 100%; }
      }

      .sobre {
        margin-top: 40px;
        h3 {
          .asap(20px, bold);
          margin: 0 0 .5em;
        }
        .lato(16px, 400);
        color: @azul_texto;
        line-height: 1.3;
        p {
          + p { margin-top: 10px; }
        }
        .btn-pdf {
          background: url('../img/layout/ico-pdf.png') no-repeat 10px center #E2EDE9;
          display: block;
          margin-top: 25px;
          .lato(11px, 400);
          line-height: 1.4;
          color: #666;
          padding: 13px 10px 13px 50px;
          transition: background .3s, color .3s;
          &:hover { color: #fff; }
        }
      }
      .box-mercado {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 30px;
        box-sizing: border-box;
        padding: 15px;
        padding-right: 62px;
        &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          right: 10px;
          top: 10px;
          background: url('../img/layout/ico-pdf.png') no-repeat center;
        }
        &.box-mercado-link {
          p {
            color: #fff;
            &:first-child {
              .asap(18px, bold);
              font-style: italic;
            }
            &:last-child {
              .lato(14px, 400);
              margin-top: 7px;
            }
          }
        }
        &.box-mercado-obrigado {
          &:after {
            display: none;
          }
          text-align: center;
          padding: 15px;
          color: #fff;
          .asap(14px, 400);
          line-height: 1.4;
          font-style: italic;
        }
        &.box-mercado-form {
          color: #fff;
          p {
            .asap(13px, bold);
            font-style: italic;
          }
          form {
            box-sizing: border-box;
            width: 100%;
            font-size: 0;
            margin-top: 7px;
            input[type=email] {
              display: inline-block;
              height: 22px;
              width: calc(~'100% - 74px');
              border: 1px solid #fff;
              background: transparent;
              outline: 0;
              .lato(14px, 400);
              padding: 0 7px;
              color: #fff;
              .placeholder(#fff);
            }
            input[type=submit] {
              display: inline-block;
              vertical-align: top;
              height: 24px;
              width: 58px;
              border: 1px solid #fff;
              border-left: 0;
              background: transparent;
              outline: 0;
              .lato(12px, 400);
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
      .divider {
        margin-top: 30px;
        width: 100%;
        height: 1px;
      }
      .detalhes {
        padding-left: 60px;
        padding-top: 10px;
        +.detalhes {
          margin-top: 35px;
        }
        &.duracao {
          background: url('../img/layout/ico-curso-duracao.png') no-repeat left top;
        }
        &.periodo {
          background: url('../img/layout/ico-curso-periodo.png') no-repeat left top;
        }
        &.investimento {
          background: url('../img/layout/ico-curso-investimento.png') no-repeat left top;
        }
        h3 {
          .asap(20px, bold);
          margin: 0 0 .5em;
        }
        p {
          .lato(16px, 400);
          color: @azul_texto;
          line-height: 1.3;
          strong { font-weight: 700; }
          + p {
            margin-top: 15px;
          }
        }
      }
      .btn-descontos {
        margin-top: 20px;
        text-align: center;
        padding: 12px;
        display:block;
        background: @verde;
        color: @azul_escuro;
        .asap(16px, bold);
        transition: background .3s, color .3s;
        &:hover {
          background: @azul_escuro;
          color: #fff;
        }
      }
      .box-informacoes {
        background: #E2EDE9;
        padding: 20px;
        margin-top: 40px;
        p {
          .lato(18px, 400);
          margin-bottom: 24px;
          font-style: italic;
          color: @azul_escuro;
          text-align: center;
        }
        .form-enviado {
          p, h3 {
            .lato(16px, 400);
            color: @azul_escuro;
            font-style: normal;
            text-align: center;
            margin: 0;
            line-height: 1.4;
          }
          h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 4px;
          }
        }
        form {
          .erro {
            border: 1px solid @azul_escuro;
            padding: 12px;
            text-align: center;
            .lato(14px, 400);
            color: @azul_escuro;
            margin-bottom: 10px;
          }
          input {
            display: block;
            background: #fff;
            box-sizing: border-box;
            display: block;
            width: 100%;
            height: 40px;
            margin-bottom: 4px;
            color: @azul_escuro;
            outline: 0;
            padding: 0 20px;
            .lato(16px, 400);
            .placeholder(@azul_escuro);
          }
          button {
            display: block;
            background: #0B76AC;
            color: @verde;
            padding: 14px;
            text-align: center;
            .asap(16px, bold);
            cursor: pointer;
            transition: color .3s;
            border: 0;
            outline: 0;
            width: 100%;
            margin-top: 10px;
            &:hover {
              color: #fff;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              width: 20px;
              height: 17px;
              background: url('../img/layout/setinha-verde.png') no-repeat center;
              transform: translateY(-2px);
              margin-left:3px;
            }
          }
          .btn-inscreva-se {
            box-sizing: border-box;
            margin-top: 12px;
            width: 100%;
            display: block;
            background: @verde;
            transition: background .3s;
            padding: 25px;
            &:hover { background: #fff; }
            text-align: center;
            color: @azul_escuro;
            .titulo {
              display: block;
              .asap(22px, bold);
            }
            .divider {
              display: block;
              width: 80%;
              height: 17px;
              margin: -2px auto;
              background: url('../img/layout/setinha-azul.png') no-repeat center right;
              position: relative;
              &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-1px);
                width: 100%;
                height: 1px;
                background: #060064;
              }
            }
            .subtitulo {
              display: block;
              .asap(16px, 400);
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.chamada-cursos{
  margin-top: 20px;
  background:#E3EDE9;
  padding: 50px 0 40px 0;
  font-size: 0;
  h1{
   color:@azul_texto;
   text-align: center;
   display: block;
   margin-bottom: 10px;
   .lato(28px, 300);
  }
  ul{
    text-align: center;
    li{
      .inline;
      width: 20%;
      box-sizing: border-box;
      @media @medium{
        width: 33.32%;
      }
      @media @small{
        width: 50%;
      }
      a{
        padding: 10px;
        display: block;
        transition: all .3s ease-in;
        img{
          width: 100%;
          display: block;
          border-radius: 4px;
        }
        span{
          transition: color .3s ease-in;
          display: block;
          margin-top: 13px;
          text-align: center;
          .asap(20px, bold);
          font-style: italic;
        }
        &:hover{
          span{color: #fff !important;}
        }
      }
    }
  }
}
