@import '../vars.less';

.conteudo-depoimentos{

  padding-bottom: 40px;

  h1{
    .lato(24px, 300);
    color:@azul_texto;
    display: block;
    padding: 20px 0 25px 0;
  }

  .coluna{
    .inline;
    width:50%;
    box-sizing: border-box;
    padding-right: 40px;
    @media @medium{
      width: 100%;
      padding-right: 0px;
    }

    @media @small{
      width: 100%;
      padding-right: 0px;
    }
    .depoimento{
      border: 10px @azul_fundo solid;
      padding: 10px;
      margin-bottom: 20px;
      min-height: 200px;
      .asap(14px);
      color:@azul_texto;
      line-height: 155%;
      img{
        float: left;
        margin: 0 10px 20px 0;
      }
      .autor{
        margin-top: 30px;
        font-weight: bold;
      }
    }
  }

}
