@import '../vars.less';

.conteudo-estagios{

  h1{
    .lato(24px, 300);
    color:@azul_texto;
    display: block;
    padding: 20px 0 25px 0;
  }

  .coluna{

    .inline;
    box-sizing: border-box;
    width: 50%;
    padding-right: 40px;

    @media @medium{
      width: 100%;
      padding-right: 0px;
    }

    @media @small{
      width: 100%;
      padding-right: 0px;
    }

    .texto-estagio{
      border: 10px @azul_fundo solid;
      padding: 20px;
      margin-bottom: 20px;
      .imagem{
        display: block;
        img{
          display: block;
          margin: 0 auto 20px auto;
        }
      }
      .texto{
        .asap(14px);
        color:@azul_texto;
      }
    }

  }

}
