@import '../vars.less';

.conteudo{

  font-size: 0;

  #banners{
    position: relative;
    width: 80%;
    height: 400px;
    padding-right: 10px;
    box-sizing: border-box;
    .inline;
    .banner{
      height: 400px;
      a{ display: block; }
      img{
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
    #banners-pager{
      z-index: 999;
      position: absolute;
      bottom: 10px;
      right: 20px;
      text-align: right;
      font-size: 0;
      span{
        .inline;
        width: 35px;
        height: 10px;
        margin-left: 4px;
        background:#979C98;
        font-size: 0;
        cursor: pointer;
        transition: all .3s ease-in;
        &.cycle-pager-active{background:#fff;}
      }
    }
    @media @medium{
      width: 100%;
      height: 316px;
      padding-right: 0px;
      margin-bottom: 10px;
      .banner{
        height: 316px;
      }
    }
    @media @small{
      width: 100%;
      height: 186px;
      padding-right: 0px;
      margin-bottom: 10px;
      .banner{
        height: 186px;
      }
    }
  }

  #chamadas{
    .inline;
    width: 20%;
    @media @medium{
      width: 100%;
      text-align: center;
    }
    @media @small{
      width: 100%;
      text-align: center;
    }
    .chamada{
      float: right;
      width: 100%;
      max-width: 240px;
      @media @medium{
        float: none;
        .inline;
        margin: 0 40px;
      }
      @media @small{
        float: none;
        display: block;
        margin: 10px auto;
      }
      &:first-child{ margin-bottom: 10px;}
      &.eventos{
        .over{
          top: 50%;
          transform: translateY(-50%);
          h1{
            margin-bottom: 20px;
          }
          h1, h2{
            text-align: center;
            padding: 0 10px;
          }
        }
      }
      &.novidades{
        .over{
          bottom: 0;
          left: 0;
          padding: 10px;
          box-sizing: border-box;
          //background: rgba(255,102,0,.8);
          h1{
            margin-bottom: 5px;
          }
        }
      }
      img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      a{
        display: block;
        height: 195px;
        position: relative;
        span.titulo{
          position: absolute;
          z-index: 9;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 15px;
          height: 20px;
          line-height: 20px;
          background:#343233;
          color: #fff;
          white-space: nowrap;
          .asap(12px);
        }
        .over{
          position: absolute;
          width: 100%;
          h1{
            line-height: 130%;
            color:#fff;
            .asap(20px, bold);
          }
          h2{
            line-height: 130%;
            color:#fff;
            .asap(16px, bold);
          }
        }
      }
    }
  }

  #chamada-cursos{
    h1{
     color:@azul_texto;
     text-align: center;
     display: block;
     margin-bottom: 10px;
     .lato(28px, 300);
    }
    ul{
      li{
        .inline;
        width: 16.66%;
        box-sizing: border-box;
        @media @medium{
          width: 33.32%;
        }
        @media @small{
          width: 50%;
        }
        a{
          padding: 10px;
          display: block;
          background-color: #fff;
          transition: all .3s ease-in;
          img{
            width: 100%;
            display: block;
            border-radius: 4px;
          }
          span{
            transition: color .3s ease-in;
            display: block;
            margin-top: 13px;
            text-align: center;
            .asap(18px, bold);
            font-style: italic;
          }
          &:hover{
            span{color: #fff !important;}
          }
        }
      }
    }
  }

  #faixa-azul{

    margin-top: 20px;
    background:#E3EDE9;
    padding: 20px 0 50px 0;

    #chamada-depoimentos{
      .inline;
      width: 55%;
      box-sizing: border-box;
      background: #fff;
      padding: 20px;
      img{
        float: left;
        margin-right: 10px;
      }
      h2{
        .lato(20px, 300);
        color:@azul_texto;
      }
      p{
        line-height: 130%;
        .asap(16px, 300);
        color:@azul_texto;
        margin: 10px 0;
      }
      .autor{
        line-height: 120%;
        color:@azul_texto;
        .asap(12px);
      }
      .ver-completo{
        .inline;
        margin-top: 15px;
        .asap(10px, bold);
        padding: 3px 10px;
        transition: all .3s ease-in;
        color:@azul_medio;
        background:@verde;
      }
      &:hover .ver-completo{
        color:@verde;
        background:@azul_medio;
      }
    }

    #embeds{
      .inline;
      width: 45%;
      box-sizing: border-box;
      padding-left: 20px;
      .fb-like-box{
        top: -5px;
      }
      iframe{
        margin: -4px 0 0 27px;
      }
    }

  }

}
