@import '../vars.less';

.inscreva-se {
    padding: 60px 0 75px;
    @media @medium {
        padding: 40px 0 55px;
    }
    @media @small {
        padding: 25px 0 35px;
    }

    &:before, &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }

    .lateral {
        width: 48.333%;
        float: left;
        img {
            display: block;
            width: 100%;
        }
        .arquivo {
            display: block;
            position: relative;
            padding: 22px 70px 22px 20px;
            background: #E5E5E5;
            color: @azul_escuro;
            .asap(16px, bold);
            transition: background .3s, color .3s;
            &:nth-child(even) {
                background: #D5D5D5;
            }
            &:hover {
                background: @azul_escuro;
                color: #fff;
            }
            &:after {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../img/layout/ico-pdf.png') no-repeat center;
            }
        }
        @media @medium {
            .arquivo {
                font-size: 14px;
            }
        }
        @media @small {
            width: 100%;
            margin-bottom: 25px;
            .arquivo {
                font-size: 14px;
            }
        }
    }

    .formulario {
        width: 48.333%;
        float: right;
        > h2 {
            .asap(20px, bold);
            color: @azul_escuro;
        }
        > h3 {
            .asap(14px, bold);
            color: @azul_escuro;
            margin: 3px 0 25px;
        }
        .form-enviado {
            background: #E2EDE9;
            padding: 65px;
            text-align: center;
            color: @azul_escuro;
            h3 {
                .asap(20px, bold);
                margin-bottom: 6px;
            }
            p {
                .asap(16px);
                max-width: 335px;
                margin: 0 auto;
                line-height: 1.3;
            }
        }
        form {
            .erro {
                border: 1px solid @azul_escuro;
                padding: 12px;
                text-align: center;
                .lato(14px, 400);
                color: @azul_escuro;
                margin-bottom: 10px;
            }
            input[type=text],
            input[type=email],
            select {
                box-sizing: border-box;
                display: block;
                width: 100%;
                height: 50px;
                margin-bottom: 4px;
                background: #E2EDE9;
                color: @azul_escuro;
                outline: 0;
                padding: 0 20px;
                .lato(16px, 400);
                .placeholder(@azul_escuro);
            }
            button {
                cursor: pointer;
                display: block;
                width: 100%;
                margin-top: 10px;
                text-align: center;
                padding: 25px;
                background: #085686;
                border: 1px solid #085686;
                color: @verde;
                .asap(22px, bold);
                transition: background .3s, color .3s;
                &.secundario {
                    background: #0B76AC;
                    border: 1px solid #0B76AC;
                    padding: 15px;
                    font-size: 16px;
                }
                &:hover {
                    background: #fff;
                    color: #085686;
                }
            }
        }
        @media @medium {
            form button:not(.secundario) {
                padding: 20px 25px;
                font-size: 18px;
            }
        }
        @media @small {
            width: 100%;
            form button:not(.secundario) {
                padding: 20px 25px;
                font-size: 18px;
            }
        }
    }
}
