@import '../vars.less';

.conteudo-novidades{

  padding-bottom: 40px;

  h1{
    .lato(24px, 300);
    color:@azul_texto;
    display: block;
    padding: 20px 0 10px 0;
  }

  ul.lista-novidades{
    li{
      .inline;
      width: 50%;
      box-sizing: border-box;
      padding-right: 40px;
      margin-bottom: 10px;
      @media @small{
        width: 100%;
        padding-right: 0px;
      }
      a{
        display: block;
        transition: all .3s ease-in;
        background: @azul_fundo;
        .imagem{
          float: left;
          padding: 10px;
          background:@azul_claro;
          margin-right: 20px;
          img{
            display: block;
            max-width: 150px;            
            width: 100%;
          }
        }
        .texto{
          padding: 10px 20px;
          min-height: 80px;
          .data{
            text-transform: uppercase;
            .asap(11px, bold);
            color:@azul_escuro;
          }
          h2{
            display: block;
            margin-top: 15px;
            .asap(20px);
            color:@azul_escuro;
          }
        }
        &:active, &:visited{
          .texto .data, .texto h2{color:@azul_escuro;}
        }
        &:hover{
          background: @verde;
        }
      }
    }
  }

  aside{
    .inline;
    width: 37%;
    box-sizing: border-box;
    padding-right: 40px;
    @media @small{
      width: 100%;
      padding-right: 0px;
    }
    h2{
      .lato(18px, 300);
      color:@azul_texto;
      display: block;
      padding: 20px 0 10px 0;
    }
    ul{
      margin: 0 0 20px 0;
      li{
        display: block;
        margin-bottom: 3px;
        a{
          padding: 10px;
          display: block;
          background: @azul_fundo;
          transition: all .3s ease-in;
          .data{
            .asap(11px, bold);
            color: @azul_escuro;
            display: block;
            margin-bottom: 5px;
          }
          .titulo{
            .asap(16px);
            color: @azul_escuro;
          }
          &:hover, &.ativo{
            background: @verde;
          }
        }
      }
    }
  }

  section{
    .inline;
    width: 63%;
    @media @small{
      width: 100%;
      margin-top: 30px;
    }
    .imagem{
      padding: 10px;
      background: @verde;
      img{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 730px;
      }
    }
    .titulo{
      background: @azul_escuro;
      padding: 12px 20px;
      h2{
        color:@verde;
        .asap(14px);
      }
      h1{
        padding: 0;
        margin: 10px 0 0 0;
        .asap(24px, bold);
        color:#fff;
        line-height: 140%;
      }
    }
    h3{
      line-height: 150%;
      background: @azul_fundo;
      padding: 5px 20px;
      display: block;
      .asap(16px);
      font-style: italic;
      color:@azul_texto;
    }
    .texto{
      padding: 20px 0;
      .asap(14px);
      color:@azul_texto;
    }
  }

}
