@import '../vars.less';

.conteudo-outros-cursos{

  p.entrada{
    .asap(18px);
    color:@azul_texto;
    line-height: 130%;
    text-align: center;
    width: 100%;
    max-width: 750px;
    margin: 20px auto 0 auto;
    strong{
      font-weight: bold;
    }
  }

  .coluna{

    .inline;
    box-sizing: border-box;
    padding: 40px 30px 10px 0;
    width: 50%;

    @media @small{
      width: 100%;
      padding-right: 0;
    }

    h1{
      .asap(22px, bold);
      line-height: 140%;
    }
    p{
      .asap(14px);
      line-height: 140%;
      color: @azul_texto;
      margin: 5px 0 20px 0;
    }
    ul.lista-cursos{
      li{
        display: block;
        margin-bottom: 3px;
        a{
          height: 40px;
          line-height: 40px;
          @media @medium{
            height: auto;
            min-height: 40px;
            line-height: 230%;
          }
          @media @small{
            height: auto;
            min-height: 40px;
            line-height: 230%;
          }
          transition: all .3s ease-in;
          background: @azul_fundo;
          display: block;
          color: @azul_escuro;
          .asap(14px, bold);
          span{
            margin-right: 15px;
            height: 40px;
            line-height: 40px;
            float: left;
            padding: 0 10px;
            color:#fff;
            min-width: 100px;
            box-sizing: border-box;
            text-align: center;
          }
          &:hover{
            color:@verde;
          }
        }
        &.nenhum-curso{
          padding: 15px;
          display: block;
          text-align: center;
          line-height: 130%;
          .asap(14px, bold);
          color:@azul_escuro;
          background: @azul_fundo;
        }
      }
    }

    &.extensao{
      h1{color:#00B282;}
      ul.lista-cursos li a{
        span{
          background:#00B282;
        }
        &:hover{
          background:#00B282;
        }
      }
    }

    &.livres{
      h1{color:#70007C;}
      ul.lista-cursos li a{
        span{
          background:#70007C;
        }
        &:hover{
          background:#70007C;
        }
      }
    }

  }

  .faixa-azul{
    margin-top: 35px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color:@azul_fundo;
    h1{
      .asap(20px, bold);
      color:@azul_escuro;
      text-align: center;
    }
    .links{
      margin-top: 30px;
      text-align: center;

      a{
        .inline;
        height: 100px;
        line-height: 100px;
        padding: 0 95px;
        transition: all .3s ease-in;
        background:#CCFF66;
        border: 1px #CCFF66 solid;
        color:@azul_escuro;
        margin: 0 15px;
        .asap(24px, bold);
        text-transform: uppercase;
        &:active, &:visited{}
        &:hover{
          border-color: @azul_escuro;
          background: #fff;
        }
        @media @medium{
          margin-top: 20px;
        }
        @media @small{
          padding: 0 55px;
          margin-top: 20px;
          font-size: 18px
        }
      }

      &.reduzido{
        a{
          padding: 0 30px;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          margin: 0 10px;
          @media @medium{
            margin-bottom: 10px;
          }
          @media @small{
            margin-bottom: 10px;
          }
        }
      }

    }
  }

  aside{
    padding-top: 20px;
    .inline;
    width: 37%;
    box-sizing: border-box;
    padding-right: 50px;
    @media @small{
      width: 100%;
      padding-right: 0;
    }
    h1{
      .asap(22px, bold);
    }
    ul{
      margin: 10px 0;
      li{
        display: block;
        margin-bottom: 3px;
        a{
          padding: 13px;
          display: block;
          box-sizing: border-box;
          transition: all .3s ease-in;
          background:@azul_fundo;
          line-height: 120%;
          .asap(14px, bold);
          color:@azul_escuro;
          span{
            font-size: 10px;
            transition: color .3s ease-in;
            display: block;
          }
          &:active, &:visited{color:@azul_escuro;}
          &:hover, &.ativo{
            color:#fff;
            span{
              color:#fff !important;
            }
          }
        }
      }
    }

    &.cursos_livres{
      h1{ color:#70007C; }
      ul li a{
        span{ color:#70007C; }
        &:hover, &.ativo{
          background-color:#70007C;
        }
      }
    }


    &.cursos_extensao{
      h1{ color:#00B282; }
      ul li a{
        span{ color:#00B282; }
        &:hover, &.ativo{
          background-color:#00B282;
        }
      }
    }

  }

  section{

    padding-top: 20px;
    .inline;
    width: 63%;

    @media @small{
      width: 100%;
      padding-right: 0;
    }

    h2{
      .asap(16px, bold);
    }

    h1{
      color:@azul_texto;
      display: block;
      margin: 10px 0;
      .asap(36px,bold);
      line-height: 140%;
    }

    .imagem-curso{
      display: block;
      max-width: 100%;
    }

    .texto{
      margin: 10px 0;
      .asap(14px);
      color: @azul_texto;
    }

    &.cursos_livres{
      h2{ color:#70007C; }
    }


    &.cursos_extensao{
      h2{ color:#00B282; }
    }

  }

}
