@import '../vars.less';

.conteudo-ouvidoria{

  padding-bottom: 40px;

  h1{
    .lato(24px, 300);
    color:@azul_texto;
    display: block;
    padding: 20px 0 25px 0;
  }

  .coluna{
    .inline;
    width:50%;
    box-sizing: border-box;
    padding-right: 40px;

    @media @small{
      width: 100%;
      padding-right: 0px;
    }

    .texto{
      .asap(14px);
      color:@azul_escuro;
      line-height: 140%;
      strong{
        font-weight: bold;
      }
      @media @small{
        text-align: center;
      }
    }

    h2{
      .asap(18px, bold);
      color:@azul_escuro;
      margin-bottom: 20px;
      @media @small{
        margin-top: 30px;
      }
    }

    form{
      padding: 7px 0;
      .resposta-form{
        display: block;
        margin: 15px 0;
        border: 1px #fff solid;
        text-align: center;
        padding: 15px 20px;
        .asap(16px, bold);
        color: @azul_escuro;
        &.erro{border-color:@vermelho;color:@vermelho;}
        &.sucesso{border-color:@azul_escuro;}
      }
      input[type="text"],
      input[type="email"],
      textarea{
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 5px 8px;
        background: @azul_fundo;
        color:@azul_escuro;
        .asap(16px);
        margin-bottom: 3px;
        @media @small{
          font-size:14px;
        }
      }
      textarea{
        height: 240px;
      }
    }
  }

}
