@import '../vars.less';

.conteudo-vestibular-social{
  section{
    .inline;
    width: 73%;
    box-sizing: border-box;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    @media @small{
      padding-right: 0px;
      width: 100%;
    }
    &.full-width{
      display: block;
      width: 100%;
      padding-right: 0;
    }
    .banner{
      img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
      margin-bottom: 60px;
    }
    h1{
      .asap(24px);
      color:@azul_texto;
      margin-bottom: 35px;
    }
    .texto{
      .asap(16px);
      color:@azul_texto;
      line-height: 130%;
    }
  }
  aside{
    .inline;
    width: 27%;
    @media @small{
      width: 100%;
    }
    &.hidden{
      display: none;
    }
    padding-top: 20px;
    padding-bottom: 40px;
    .frase-downloads{
      padding-top: 20px;
      line-height: 130%;
      color:@azul_texto;
      .asap(14px);
    }
    ul.lista-downloads{
      margin: 20px 0;
      li{
        display: block;
        a{
          border: 1px #fff solid;
          padding: 10px;
          display: block;
          transition: all .3s ease-in;
          min-height: 32px;
          background: @azul_medio;
          .icone{
            .inline;
            padding: 0 15px 0 0;
            box-sizing: border-box;
            width: 17%;
            img{
              display: block;
              max-width: 100%;
            }
          }
          .texto{
            .inline;
            color:#fff;
            line-height: 130%;
            .asap(16px);
            width: 83%;
            padding: 0 15px 0 0;
            box-sizing: border-box;
          }
          &:active, &:visited{}
          &:hover{
            background: #fff;
            border-color: @azul_medio;
            .texto{
              color: @azul_medio;
            }
          }
        }
      }
    }
    .chamada-inscricao{
      background: @azul_claro;
      padding: 40px 30px 30px 30px;
      box-sizing: border-box;
      margin-top: 15px;
      display: block;
      @media @medium{
        padding: 15px 10px;
      }
      strong{
        .asap(24px, bold);
        color: @verde;
        margin-bottom: 20px;
        display: block;
        text-align: center;
      }
      p{
        .asap(16px);
        color: #fff;
        line-height: 130%;
        text-align: center;
      }
      span{
        height: 60px;
        line-height: 60px;
        border-radius: 60px;
        margin-top: 70px;
        background: #000066;
        color: @verde;
        text-align: center;
        display: block;
        .asap(20px, bold);
        transition: all .3s ease-in;
        @media @medium{
          height: auto;
          line-height: 180%;
          font-size: 18px;
        }
        img{
          margin-top: -10px;
          float: left;
          @media @medium{
            display: none;
          }
        }
      }
      &:hover{
        span{
          background: @verde;
          color: #000066;
        }
      }
    }
  }
}
