@small	: ~"(min-width: 0px) and (max-width: 750px)";
@medium : ~"(min-width: 751px) and (max-width: 1199px)";
@large  : ~"(min-width: 1200px)";

@azul_claro:#0078B0;
@azul_medio:#005894;
@azul_escuro:#06549C;
@azul_banner:#01669C;
@azul_texto:#01669C;
@azul_fundo:#E3EDE9;
@verde:#CBFF66;
@vermelho:#9b111e;

.asap(@fsize:12px, @fweight:normal){
	font-family: 'Asap', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.lato(@fsize:12px, @fweight:700){
	font-family: 'Lato', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.gradiente{
	background: #124878; /* Old browsers */
	background: linear-gradient(to bottom,  #124878 0%,#124878 48%,#202949 100%);
}

.centralizar{
	margin:0 auto;
	max-width: 1200px;
	width: 100%;
	@media @small{
    max-width: 440px;
  }
  @media @medium{
    max-width: 750px;
  }
  @media @large{
    max-width: 1200px;
  }
}

.centralizar-reduzido{
	margin:0 auto;
	width: 100%;
	@media @small{
    max-width: 440px;
  }
  @media @medium{
    max-width: 750px;
  }
  @media @large{
    max-width: 870px;
  }
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
